[2017-01-07 15:21] ademarco opened #1 "Integrate UI Patters with Field Group module"

[2017-01-07 15:21] ademarco opened #2 "Integrate UI Patters with Layout Plugin module"

[2017-01-07 15:21] ademarco opened #3 "Use Bootstrap as base theme for demo site"

[2017-01-07 15:21] ademarco opened #4 "Style patterns overview page"

[2017-01-07 15:22] #1 closed, assigned to ademarco

[2017-01-07 15:22] #2 closed, assigned to ademarco

[2017-01-07 15:22] #3 closed, assigned to ademarco

[2017-01-07 15:22] #4 closed, assigned to ademarco

[2017-01-08 08:56] ademarco opened #5 "Add Field Source custom plugin"
### Scope
In
[code]

We used to get field labels by using `$this->fieldManager` as shown below:

[code]

This would leave out fields exposes by Display Suites or similar modules.

### Tasks
- [ ] Generalize destination handling so that we cover all cases.

[2017-01-08 09:33] ademarco opened #6 "Add tests for paragraphs and field groups"
### Scope
Patterns can be integrated with paragraphs and field groups but we need to test that.

### Tasks
- [x] Write tests.

[2017-01-08 09:45] #6 closed, assigned to ademarco

[2017-01-09 07:58] ademarco opened #7 "Provide Display Suite field template plugin"
### Scope
The current issue wants to cover the following use cases;

- I have a multiple image field with image title enabled and I want to format it as a carousel (see http://getbootstrap.com/javascript/#carousel), meaning: all field values should be used in the same pattern.
- I have a multiple link field and I want to use a button pattern for it so that I can print a list of buttons using the l

[2017-01-09 08:19] ademarco opened #8 "Integrate patterns with views"
### Scope
The cope of this issue is to provide views integration so that patterns can be used to theme views rows and displays.

### Tasks
- [x] Investigate solution
- [x] Build new module called `ui_patterns_views`
- [x] Implement solution

[2017-01-09 08:21] ademarco commented on #5
A hook fired from `PatternFormatter::settingsForm()` that collects all sources could be a good-enough solution to the problem, unless we don't want to implement a specific field mapping plugin system.

[2017-01-10 09:14] ademarco opened #9 "Fix warning when saving view mode layouts"
### Scope
When using patterns as a display suite layout we get the following error after saving:

[code]
### Tasks
- [x] Fix that.

[2017-01-11 18:29] ademarco opened #10 "Add pattern plugin validation"

[2017-01-11 19:52] #10 closed, assigned to ademarco

[2017-01-16 09:45] ademarco opened #12 "Add a new pattern render element"
### Scope
In order to ease pattern rendering in custom code we should add a custom `pattern` element render which could function as below:

[code]
### Tasks
- [x] Implement render element as described above

[2017-01-16 09:46] ademarco commented on #12
\cc @bircher

[2017-01-16 09:47] ademarco opened #13 "Add Pattern custom block"
### Scope
In order to render patterns as block in panel layouts, etc. we should provide a custom pattern block type.

### Tasks
- [ ] As @bircher to finalize the description of this issue
- [ ] Implement the thing.

[2017-01-16 15:38] ademarco opened #14 "Allow Twig namespaces in pattern definitions in order to override pattern template file"
### Scope
Allowing for template overrides when defining a pattern would make integration with third-party pattern libraries project, like [PatternLab](http://patternlab.io), very easy.

So ideally we would have:

[code]

Or:

[code]

### Tasks
- [x] Implement the thing

[2017-01-16 16:48] aleksip opened #15 "Allow multiple pattern definitions"
Instead of one central file, the pattern definitions could be in multiple files, possibly in pattern-specific folders along with other files related to the specific pattern, e.g. the Twig template, Sass/CSS files, JavaScript, images etc.

E.g.

[code]

[2017-01-16 16:59] ademarco commented on #15
For this we will probably need a [Discovery Decorator](https://www.drupal.org/docs/8/api/plugin-api/discovery-decorators) provided by a separate module.

[2017-01-16 18:51] aleksip opened #16 "Support for finding templates in subfolders"
When a pattern template is placed in a subfolder of a theme's `templates` folder, it is not found. Support for subfolders would be nice so that templates can be organized by type.

[2017-01-18 11:43] #5 closed, assigned to ademarco

[2017-01-18 18:59] #8 closed, assigned to ademarco

[2017-01-19 06:59] #9 closed, assigned to bircher

[2017-01-19 07:42] ademarco opened #20 "Improve pattern definition validation"
### Scope
At the moment pattern definition validation happens in patterns ui manager, we should change that by providing a proper validation service.

### Tasks
- [x] Improve validation

[2017-01-19 07:46] #12 closed, assigned to ademarco

[2017-01-19 08:16] bircher commented on #20
At the moment when a pattern doesn't validate an exception is thrown. Rather than blocking the site from working, invalid patterns should be ignored and the exception should be logged.

[2017-01-19 12:00] ademarco commented on #7
We are gonna implement these as Display Suite field templates.

[2017-01-19 20:28] #7 closed, assigned to ademarco

[2017-01-21 12:21] #16 closed, assigned to aleksip

[2017-01-21 12:21] #15 closed, assigned to aleksip

[2017-01-21 12:31] ademarco commented on #14
I think it's better if we have two different properties:

1. `template`: the actual theme template, the way Drupal intends it
2. `use`: Twig namespaced template location

[2017-01-21 15:22] #14 closed, assigned to ademarco

[2017-01-21 18:56] ademarco opened #25 "Improve documentation"
### Scope
The scope of this issue is to improve documentation.

### Tasks
- [ ] Do that.

[2017-01-22 19:10] #20 closed, assigned to ademarco

[2017-01-23 08:23] #25 closed, assigned to ademarco

[2017-01-23 20:33] haringsrob opened #28 "Fatal error when setting pattern as default field formatter"
When configuring DS to use pattern as default field formatter some errors are thrown:

[code]

I think this only happens when no patterns are available.

[2017-01-23 20:37] haringsrob opened #29 "Add example theme"
A submodule containing 1 basic, 1 advanced example would be usefull for people as starting point/test.

[2017-01-24 08:13] ademarco commented on #28
I can't actually reproduce, does the commit above solve it?

[2017-01-24 08:16] ademarco commented on #29
There are a test theme and a test module at `tests/target/custom/` or were you thinking about something else?

[2017-01-24 16:29] ademarco opened #31 "Add theme hook suggestions"
### Scope
In order to allow complex pattern integration we should implement [theme hook suggestions](https://sqndr.github.io/d8-theming-guide/theme-hooks-and-theme-hook-suggestions/theme-hook-suggestions.html).

### Tasks
- [x] Implement suggestions for all sub-modules
- [ ] Add tests

[2017-01-24 19:00] aleksip opened #33 "Add ui_patterns dependencies to configuration"
If for example a `ui_patterns_layouts` layout is used, the configuration does not contain a dependency to the `ui_patterns_layouts` module. This can result in the display breaking if `ui_patterns_layouts` is uninstalled. A dependency would prohibit uninstalling the module.

[2017-01-24 19:44] aleksip opened #34 "Allow libraries to be defined on pattern definitions"
So a component can define its own libraries. E.g.

[code]

[2017-01-24 19:53] ademarco commented on #31
So I put together something like that:

[code]

this produces the following suggestions:

[code]

[2017-01-24 22:41] #31 closed, assigned to nobody

[2017-01-25 08:08] ademarco opened #35 "Add cache tags and contexts to patterns"
### Scope
For the moment we don't invalidate pattern cache assuming that the host element will take care of that, we should research about its implications and fix it, if necessary.

### Tasks
- [ ] Research
- [ ] Implement it, if necessary
- [ ] Test

[2017-01-25 09:49] ademarco opened #36 "[IMPORTANT] Rename pattern theme prefix from "pattern__" to "pattern_""
### Scope
In order to allow hook suggestions to work correctly we have to rename theme prefix from `pattern__` to `pattern_`.

### Manual changes when upgrading

When upgrading from `beta2` to `beta3` you need to perform the following manual steps

1. Rename default template files `pattern--MY-PATTERN.html.twig` into  `pattern-MY-PATTERN.html.twig` manually.
2. If you use the `ui_patterns_layouts`

[2017-01-25 10:15] #36 closed, assigned to ademarco

[2017-01-26 16:51] hctom opened #38 "Add Twig function to render patterns in templates"
It would be nice to have a Twig function to easily render embedded patterns within a Twig template.

## Example

[code]

With this you do not have to remember the pattern template paths for includes/embeds within other Twig templates. And this would also ensure the following:
* preprocess hook implementations of specific patterns are called when being embedded
* Template overrides are respected

#

[2017-01-26 17:23] aleksip opened #39 "Allow use of nested render arrays in preview content"
E.g. in this case the pattern `shila_image` is rendered, but the render array in `shila_image`'s `image` field is not rendered.

[code]

[2017-01-26 18:02] ademarco commented on #38
That's a nice idea! It could be pretty straightforward to implement actually since patterns are already rendered using a render element which runs all preprocesses and loads all libraries: http://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#render-patterns-programmatically

[2017-01-26 18:39] ademarco commented on #38
Ok I have this working, I'm gonna push soon:

[code]

[2017-01-26 18:43] ademarco commented on #38
There we go! Let me know if that works for you and I'll add some tests.

[2017-01-26 18:55] ademarco commented on #38
I've also added one for previews, so now the following lines will give the output below:

[code]

<img width="766" alt="screenshot 2017-01-26 19 54 49" src="https://cloud.githubusercontent.com/assets/153362/22345667/5364369e-e401-11e6-94a1-0f982d5e5dea.png">

[2017-01-26 20:32] hctom commented on #38
Hell yeah, that was fast ;)

I just read the code and it looks really great. I'd only recommend some cosmetics:

* There should be no need to prefix the `UiPatternsTwigExtension`class, cause this is already done by the namespace (so `TwigExtension`should be enough)
* As against my first proposal, the `pattern()`and `pattern_preview()` functions might be worth renaming to avoid potential naming con

[2017-01-26 21:48] ademarco commented on #38
Thanks for your feedback, it's now merged in!

[2017-01-26 21:48] #38 closed, assigned to ademarco

[2017-01-27 14:51] aleksip opened #42 "Sort patterns by label on the overview page"
Currently patterns seem to be listed in a 'random' order. It would be nice to have them sorted by the pattern label in alphabetical order.

[2017-01-27 14:53] ademarco commented on #42
I would actually add a `weight` field to the definition, what do your think?

[2017-01-27 14:54] ademarco commented on #42
The I was also thinking to introduce `tags` on pattern definitions so that we can tag patterns and print better overview pages.

Also tags will be useful to propose patterns by contexts (which will be expressed with tags) so that we don't have a button pattern proposed as a page layout etc.

[2017-01-27 16:13] hctom opened #43 "Allow preview values to be empty"
Currently a pattern plugin with empty or undefined `preview` definition key throws an error and is not registered.

But there may be occasions you might not want to add any value for the preview (e.g. if you have an optional region in your pattern, or the variable is only used as a flag to pull other triggers).

Is it possible to losen this requirement, that preview values must not be set?

[2017-01-27 16:16] hctom opened #44 "Allow settings for patterns"
Are there already any plans for allowing settings on a pattern plugin? This might be quite useful e.g. if you have variables in your pattern template that only control whether CSS modifier classes are added or not.

Or do you propose to fill these variables in preprocess hooks?

[2017-01-27 16:19] aleksip commented on #42
I like the `tags` idea, `weight` could be hard work to update if there are many patterns? So maybe first sort by tags, then final sort by label alphabetically? :)

Maybe the tags could create a hierarchy, so when e.g. using atomic design principles one could tag a pattern with `molecules`, `text` and it would go in top level molecules group and in a text subgroup?

[2017-01-27 17:52] ademarco commented on #29
I was actually thinking to contribute the test theme as a stand alone UI Patterns enabled theme based on Bootstrap, so we can use that one as example, we will still be able to feature examples about preprocessing since themes can expose that, then we use that theme in our Behat tests downloading it from the remote repository, instead of having it hardcoded in the project, what do you think?

[2017-01-27 17:53] ademarco commented on #43
Yes we can surely loose that and it would make very much sense too! 😄  I'll work on that.

[2017-01-27 18:01] #39 closed, assigned to nobody

[2017-01-27 18:07] #43 closed, assigned to nobody

[2017-01-28 10:41] ademarco commented on #44
Yes, that is actually the idea! Plugins tagged with `@UiPatternsSource` are responsible to provide source fields to patterns depending on specific contexts. For example, when using a pattern in a field group then `@UiPatternsSource` plugins tagged with `entity_display` will be invokes, such as:

[code]

This will then allow the UI to effectively provide field sources of different types, see **Plug

[2017-01-28 13:13] ademarco commented on #29
We have just released an example theme based on Bootstrap: https://github.com/nuvoleweb/bootstrap_patterns the theme will be also used to test the module itself. I'll refactor in the scope of this issue.

[2017-01-28 18:53] ademarco commented on #29
We have actually kept a test theme within the module. Example theme can be downloaded here: https://github.com/nuvoleweb/bootstrap_patterns

[2017-01-28 18:53] #29 closed, assigned to ademarco

[2017-01-30 08:15] hctom commented on #44
Okay, I hope I got everything right from your explanation ;) But I guess you are right. This might really get an overkill and might grow in complexicity really fast. I also think, we should leave it as is right now.
In my special case I also found a solution for this problem: I created Display suite token fields with static values that provide the specific values for my settings variables and I ju

[2017-01-30 08:28] ademarco commented on #44
I would still implement settings per source type, so that we can move things like "Only content" in the right place, I'll keep the issue open to address that.

[2017-01-31 14:03] tanc opened #49 "Use generic .twig extension for a better integration with tools like PatternLab"
As the constant TWIG_EXTENSION is used when generating the path in processUseProperty I can't specify a Pattern Lab based twig template whose extension is just .twig rather than .html.twig.

Is there a workaround for this? I'd like to be able to specify a namespaced template and have that template used.

[2017-01-31 14:04] tanc commented on #49
My use statement in my yml file looks like:
`use: "@organisms/paragraphs/text-image/text-image.twig"`

The error thrown is: `Twig_Error_Loader: Template "themes/custom/ics_theme/source/_patterns/03-organisms/paragraphs/text-image/text-image.twig/text-image.twig.html.twig" is not defined`

[2017-01-31 14:05] ademarco commented on #49
Ha! Nice catch! `.html.twig` is a Drupal thingie indeed, I'm gonna get rid of it at once! 😄

[2017-01-31 14:08] ademarco commented on #49
@tanc PR created, could you please check if that works for you? Thanks!

[2017-01-31 14:11] tanc commented on #49
There must be a bit more to it as that results in the following error:

`Twig_Error_Loader: Template "themes/custom/ics_theme/source/_patterns/03-organisms/paragraphs/text-image/text-image.html.twig" is not defined`

For some reason the .html is still there but the directory structure is now correct.

[2017-01-31 14:14] ademarco commented on #49
Yeah I guess that's not really the right fix then. Actually the .html.twig extension is kind of hardcoded in the ThemeManager class, see `\Drupal\Core\Theme\ThemeManager::render()`:

[code]

So I guess you'll have to name your templates accordantly, would that be possible?

[2017-01-31 14:19] tanc commented on #49
Ah right. That would be a shame as the name of the template is taken from the file name in Pattern Lab so file names would have html in them, like this:

![pattern_lab_-_pages-basic-page](https://cloud.githubusercontent.com/assets/76320/22468455/3cf21a8a-e7c0-11e6-9f33-ef301103114f.jpg)

[2017-01-31 14:22] ademarco commented on #49
I see, any way you can override that in PatternLab?

[2017-01-31 14:24] tanc commented on #49
Yes, I can specify the file name in a .md file alongside it. The main problem is I then have to rename all my supporting files to have the .html part of the filename which is HORRIBLE!

![text-image_html_md_-_web_-____sites_l_ics_gitroot_web_](https://cloud.githubusercontent.com/assets/76320/22468629/e7ef8c92-e7c0-11e6-8411-d520d3b97809.jpg)

[2017-01-31 14:25] ademarco commented on #49
I wonder if there is anything I can do on my side but I guess not since anyway Drupal will try to find files with that extension, right?

[2017-01-31 14:26] aleksip commented on #34
This feature enables the use of stand-alone components in multiple themes without modifications. If the libraries are defined in a theme's `.libraries.yml` the library reference will make the component dependent on that theme.

[2017-01-31 14:26] tanc commented on #49
If its hard coded in ThemeManager I can't see any easy way. A real shame as UI Patterns seems like a great way of wiring Pattern Lab and Drupal together.

[2017-01-31 14:31] ademarco commented on #49
Maybe you can open an issue on PatternLab referencing this one?

[2017-01-31 14:45] aleksip commented on #49
@tanc I agree that having to name files like that because of Pattern Lab is horrible! :)

I'd consider this an issue with Pattern Lab. The `.html.twig` extension is advocated in Symfony/Twig documentation, so the compatibility issue is not just with Drupal/UI Patterns.

[2017-01-31 14:48] tanc commented on #49
Ahah, good feedback. There is a config setting in Pattern Lab where you can define your extension (currently twig) but there has to be a matching pattern loader rule. I don't know enough about Pattern Lab to know if this is the right direction but it could be a solution.

[2017-01-31 16:03] ademarco commented on #49
Closing as follow up has been opened on PatternLab's.

[2017-01-31 16:03] #49 closed, assigned to nobody

[2017-01-31 16:46] ademarco commented on #34
That's true, it actually makes patterns really self-contained and even sharable, to some extent!

[2017-01-31 21:51] tuttnauer opened #51 "Paragraphs"
Hi,

I ask this question without any research but interested to know if I could use UI Pattern on a project using **Paragraphs module.**
So my question is can UI Patterns work with the Paragraphs module: https://www.drupal.org/project/paragraphs

All the best,
Guy

[2017-02-01 00:46] finteractive commented on #51
I know based on conversations on the Drupal Twig Slack #components slack channel that this does work with paragraphs (which as a primary use case mentioned by the author).

But I'm curious as to whether **Display Suite** is a dependency to get **Paragraphs** to work? I'm hoping to avoid Display Suite

[2017-02-01 08:14] ademarco commented on #51
Correct, UI Patterns works with paragraphs by integrating with Layout Plugin module ([check documentation here](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/layout-plugin.html)) but you also need Display Suite in order to use layouts on entity view modes.

@fosterinteractive Alternatively, if you don't want to use DS, you can always provide a custom hook suggestion and relative preprocess

[2017-02-01 19:17] tanc opened #53 "Recursion (max function nesting level)"
Something about the UI Patterns module and it's handling of templates was giving me recursion errors. On a development server without xdebug enabled I couldn't even rebuild the cache. On my local with xdebug I was getting max function nesting errors at level 200.

![max function nesting error](https://cloud.githubusercontent.com/assets/76320/22522271/e2bcfde8-e8b2-11e6-8b1c-14be06a2c400.jpeg)

Uni

[2017-02-02 07:24] ademarco commented on #53
Are you using the `use: path/to/template.html.twig` in your definitions? I could reproduce by pointing to a non existing template in the `use:` statement.

[2017-02-02 07:32] tanc commented on #53
Correct, I was implementing the `use:` statement. It was pointing to a Pattern Lab based twig file. The twig file definitely existed as it rendered fine. I was using two different UI Patterns at this point, one was being called directly in a custom block's render array, the other in a more traditional Field Group arrangement. Both of my twig files had to be renamed to include `html.twig` as the fi

[2017-02-02 07:34] tanc commented on #51
It also works fine using a Field Group UI Pattern.

[2017-02-02 07:36] ademarco commented on #53
Would it be possible for you to re-enable the module and attach here the full fatal error output? So I can examine better the way recursion happens. Thanks!

[2017-02-02 07:53] tanc commented on #53
Unfortunately I'm really pressed for time on this project so I can't help debug the issue now. I might be able to do it on the weekend though, will let you know.

[2017-02-02 08:08] ademarco commented on #53
Ok thanks! I'll fix the one I know about as it might be related to yours

[2017-02-02 10:32] #51 closed, assigned to nobody

[2017-02-02 10:34] tuttnauer commented on #51
Thanks for the information.

[2017-02-02 11:47] ademarco commented on #34
All done, docs available [here](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html#expose-pattern-assets-as-libraries). Closing.

[2017-02-02 11:47] #34 closed, assigned to ademarco

[2017-02-03 08:59] drupal4share opened #54 "Support preview views UI"
I have use defaul theme bootstrap. I copy folder **modules/contrib/ui_patterns/tests/ui_patterns_test_theme/templates/patterns/button** to **themes/bootstrap/templates/patterns/button** and clear cache. Create simple view use pattern lab **Button**. Preview of view don't working. Click button Update preview don't show anything. When i check log message, i saw have message error

[2017-02-03 13:55] drupol opened #56 "Make the Pattern discovery available as a service."
So we can decorate it easily and provide other mechanisms to detect patterns.

[2017-02-03 15:28] kclarkson opened #58 "Twig Error Loader: Unable to find template in ui_patterns/template"
I am using your bootstrap_patterns as a model to organize and create patterns.  I have decided to create folders for each pattern so that their yaml, twig and scss files are all in their own seperate directory.  My directories are located within the theme folder as follows.

[code]

After deleting one of my twig pattern files and clearing the cache, I am receiving the following error when visiting

[2017-02-03 18:48] kclarkson commented on #58
I am closing this issue. As I had the Carousel information in bootstrap yml file.

[2017-02-03 18:48] #58 closed, assigned to nobody

[2017-02-04 09:47] ademarco commented on #53
@tanc could you please check with latest dev? I've fixed a recursion error.

[2017-02-04 09:48] ademarco commented on #54
Actually patterns do not support views preview since they are bound to the theme that exposes them. I'll add a message stating it when clicking on the preview button, so we avoid that fatal.

[2017-02-04 09:57] ademarco commented on #54
Message added, closing.

[2017-02-04 09:57] #54 closed, assigned to nobody

[2017-02-05 14:25] ademarco commented on #33
I'll first improve the behat tests so that we can test taking snapshot of current configuration in before scenario hook and restoring it in an after scenario hook.

[2017-02-08 09:33] ademarco opened #63 "Add pattern layout hook suggestions"
### Scope
For the moment we do now provide any hook suggestion for layouts while we should provide something like:

[code]
### Tasks
- [ ] Implement this.

[2017-02-08 09:42] #63 closed, assigned to ademarco

[2017-02-11 18:22] kclarkson commented on #42
I Love the idea of tags and weights.  I would like to suggest that we add a weight to the tags.  This way if I want to use atomic design great. But if I want to roll my own design structure I can decide which tags should receive a higher or lower weight.

[2017-02-11 18:47] ademarco commented on #42
Yes we could use the same way Symfony uses tags on services, with weights and all.

[2017-02-18 11:11] capriosa opened #65 "Collections"
How to work with collections, like your carousel example? It works in preview but in DS View Modes it is not possible to match fields.

[2017-02-18 11:52] ademarco commented on #65
We still need to implement all that part actually, the idea is to have patterns define collection of patterns so that UI mappers can provide the proper interface, until that point this kind of advanced use cases can be implemented using template suggestions which provide preprocessing function per pattern render context, check the docs here for more info http://ui-patterns.readthedocs.io/en/8.x-1.

[2017-02-18 11:53] ademarco commented on #65
BTW: documentation does not cover layout suggestions that were introduced in latest dev:

[code]

I'll need to update it.

[2017-02-18 15:23] ademarco opened #66 "Refactor pattern plugins to use derivatives"
### Scope
This issue aims to refactor the way we collect and handle patterns in order to have a more robust and powerful system based on plugin derivatives. Work will be heavily inspired by @drupol's work on #62

### Tasks
- [x] Refactor pattern plugins to use derivatives
- [x] Write tests

[2017-02-18 15:24] ademarco commented on #56
We are gonna implement this as part of #66

[2017-02-18 15:24] #56 closed, assigned to nobody

[2017-02-18 15:53] drupol commented on #66
:+1:

[2017-02-18 16:37] backlineint opened #67 "Fatal Error When Defining Library For Pattern"
I'm trying to define the following library in my pattern definition:

  libraries:
    - traditional:
      css:
        component:
          //fonts.googleapis.com/css?family=Radley:400,400italic: { type: external }
          //fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic: { type: external }

After doing so, when I attempt to load the pattern I get a fatal error:

Recover

[2017-02-18 17:04] ademarco commented on #67
I think you got an indentation problem in the definition, instead of this:

[code]

Try this (`css` indented):

[code]

For more details check docs here http://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html

[2017-02-19 17:56] ademarco opened #69 "Refactor tests"
### Scope
At the moment tests run using a target site that sits inside the module, this creates many problems with recursive symlinking and makes impossible to have a clean Kernel test setup, we should refactor that.

### Tasks
- [x] Refactor tests
- [x] Add first Kernel test
- [x] Port TravisCI to new test structure
- [x] Update docs

[2017-02-19 17:59] #66 closed, assigned to nobody

[2017-02-19 19:04] backlineint commented on #67
Getting the intent wrong was part of it, but it still seems like something is going on beyond that.  If I use a library definition with only internal assets (and the correct indentation :) things work:

[code]

But once I add an external asset things go back to blowing up.

[code]

I've tried things like adding http or https to the asset (not ideal) and a number of variations on single and double

[2017-02-19 21:17] ademarco commented on #69
New documentation available at https://github.com/nuvoleweb/ui_patterns/blob/debf90dff6e872c3c125b7c74137ef30f2e90872/docs/content/tests.rst

[2017-02-19 21:33] #69 closed, assigned to ademarco

[2017-02-20 20:34] ademarco opened #71 "Make patterns actual objects"
### Scope
Up until now patterns have been mere arrays but after the introduction of derivatives they can now be objects.

### Tasks
- [x] Make it happen.

[2017-02-20 20:34] ademarco commented on #71
\cc @drupol :)

[2017-02-20 20:40] drupol commented on #71
Yes!

[2017-02-20 20:48] ademarco commented on #71
So now this will return an actual object:

[code]

Which methods should it have @drupol?

[2017-02-20 21:02] drupol commented on #71
Yes that's the idea.

However, I think we should also pass the configuration of the pattern upon instantiation.

See the stuff in my pluginification branch: https://github.com/nuvoleweb/ui_patterns/pull/62/files#diff-8340646a23adb86937ee0033cbd9f46eR83

[2017-02-21 07:15] ademarco commented on #71
Definition is passed to the object by the plugin manager while, in this case, we don't have configuration.

[2017-02-21 17:59] #71 closed, assigned to nobody

[2017-02-21 18:01] ademarco commented on #53
Closing as no further reports have been files about this since more than 2 weeks, feel free to reopen if necessary, thanks!

[2017-02-21 18:01] #53 closed, assigned to nobody

[2017-02-22 13:16] ademarco commented on #67
This should be fixed on latest dev, I've also added a test, let me know if it works, please reopen if it doesn't. Thanks!

[2017-02-22 13:16] #67 closed, assigned to nobody

[2017-02-22 19:23] backlineint commented on #67
@ademarco working for me on the latest dev.  Thanks!

[2017-02-23 13:45] pixelwhip opened #73 "Support for Multi-value fields"
**Version 8.x-1.0-beta5**

First off, thanks for working on this module. There are a lot of potential advantages to it over or in addition to the Components module.

When using ui_patterns_ds in conjunction with Display Suite field templates, each value in a multi-value field is wrapped in the pattern template.  This makes it seemingly impossible to use collection type patterns such as an unordere

[2017-02-23 13:57] pixelwhip opened #74 "Support mapping multiple values to a pattern field"
**Version 8.x-1.0-beta5**

After looking at the [Field Group docs](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/field-group.html), I had the idea of using ui_patterns and field groups for flexible layout options on an entity. Similar to how patterns can be used for layout plugins, but on a field group level. For example, take the following pattern

[code]

When used on a field group with m

[2017-02-23 16:22] ademarco commented on #73
Thanks for trying the module out @pixelwhip ! We will support subfields soon, until that moment the suggested method is to use preprocess functions to "massage" the data before it get sent to the pattern, so the pattern will receive fields as it expects to.

Have a look at the docs here http://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#working-with-pattern-suggestio

[2017-02-23 16:25] ademarco commented on #74
We do not support multiple subfields the way you have specified in your definition for the moment, although we do have plan to get this in module soon.

As I wrote on https://github.com/nuvoleweb/ui_patterns/issues/73#issuecomment-282041406 the suggested method is to use preprocess functions to "massage" the data before it get sent to the pattern, so the pattern will receive fields as it expects t

[2017-02-23 16:52] ademarco commented on #65
Documentation now covers this case too, check http://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#working-with-pattern-suggestions

[2017-02-23 16:52] #65 closed, assigned to nobody

[2017-02-23 20:16] pixelwhip commented on #73
Thanks for the quick response, @ademarco. That makes sense.

[2017-02-24 05:16] kclarkson opened #75 "Missing Module in File System after Drush dl commands"
Here is the following error I am receiving after running drush dl mymodule

The following module is missing from the file system:              [warning]
ui_patterns_test_theme bootstrap.inc:236
Unknown path for ui_patterns_test_theme module.

[2017-02-24 05:34] ademarco commented on #75
Which version of the module are you using?

[2017-02-24 05:39] kclarkson commented on #75
Most recent dev 8.x-1.x
On Fri, Feb 24, 2017 at 12:34 AM Antonio De Marco <notifications@github.com>
wrote:

[2017-02-24 06:13] ademarco commented on #75
This might not be related to the module itself, have you tried following the instructions here to remove the message https://www.drupal.org/node/2487215 ?

[2017-02-24 15:52] kclarkson commented on #75
@ademarco I just did a test of the dev 8.x-1.x on a clean install in a completely different environment and it gave me the error.  It seems like you have the Test Theme module in dev version but not in the beta release.

If I use the beta release then there is no error.  If I go ahead and delete the test module from the Dev version the error disappears. So it must be something in the test module.

[2017-02-25 09:02] ademarco opened #76 "Next steps before stable releases: Variants, Subfields, Multiple fields, Tags and Hidden patterns"
The following is a list of improvements we wish to include in the first stable release. We would like to hear your thoughts about it.

- **Variants**: possibility for a pattern to expose variants, so that the preview page will automatically display all possible pattern variations. Variants can be mapped to fields or other properties when using patterns to render views, field templates, layouts, et

[2017-02-25 09:10] ademarco commented on #76
As first users of the UI Patterns module your input would be of great help! 😄
\cc @drupol @pixelwhip @hctom @aleksip @haringsrob @bircher @kclarkson @capriosa @hctom @tanc

[2017-02-25 09:24] ademarco commented on #75
Yes we have moved the test theme in dev under `modules/ui_patterns_test/ui_patterns_test_theme` so it's probably that, I could not replicate on a clean env, could you please post here a step by step list of how I can reproduce? Thanks!

[2017-02-25 14:45] kclarkson commented on #75
1. I am using Drush 8.0.1
   2. MAMP Local environment
   3. Install of Drupal 8
   4. Drush dl ui_patterns-8.x-1.x
   5. Drusn en ui_patterns
   6. Then run drush dl webform-8.x-5.x  (or any other module)
   7. Error is shown

Kaleem Clarkson
kaleemclarkson.com  <http://www.kaleemclarkson.com>
207.329.7918

On Sat, Feb 25, 2017 at 4:24 AM, Antonio De Marco <notifications@github.com>
wrote:

[2017-02-25 14:58] ademarco commented on #75
Yep I can reproduce thanks! I'll have a look at it

[2017-02-25 15:28] ademarco commented on #75
It seems something Drush related: Drush expects `ui_patterns_test_theme` to be a module while it's actually a test theme within the module.

[2017-02-25 15:30] ademarco commented on #75
The only fix would be to move back both test theme and module under `./tests`.

[2017-02-25 21:14] hctom commented on #76
@ademarco This looks absolutely fantastic! ;)

Here are some of my thoughts/questions regarding your topics:

* **Variants:** How do you want to implement them. Will they be template suggestions like ```pattern-carousel--large.html.twig``` or how will those be realized?
* **Subfields:** This really is a great idea. I think the only "problem" I see with this is the UI for deeply nested components (

[2017-02-26 13:55] capriosa commented on #76
Your ideas sounds really cool. Especially the type:pattern will be very useful.
Btw. do you know that UI-Patterns works very well in conjunction with the Stacks module?
And with the new features from above this will even get better.

[2017-02-27 01:37] cosmicdreams opened #77 "What can we do with Derivers?"
Hi team:

I just wanted to jump in here with a question about creating custom derivers, but first, I want to say that the work I see here is really exciting.  It's wonderful that this is already a real thing we can do with Drupal 8.  I would love to organize a BOF at Drupalcon to overview it.

To the question:  I've been trying to port the http://dgo.to/webcomponents module and I started that effo

[2017-02-27 01:46] cosmicdreams commented on #77
First!

Just wanted to add that if it is possible to take a more system-driven approach with derivers (in that the system could discover and register all the detail about a component without needing a yml file to tag along) The work I will need to port webcomponents might be reduced to creating a custom discovery / deriver that understands the structure of a web component.

[2017-02-27 06:48] ademarco commented on #77
Hello @cosmicdreams that's exactly why we refactored the module to use derivers in https://github.com/nuvoleweb/ui_patterns/issues/66 ! You can build your own deriver class that would parse any component repository and build pattern definitions.

I had a quick look at https://www.drupal.org/project/webcomponents and I think the module could leverage most of the heavy lifting UI Patterns does, you

[2017-02-27 06:50] ademarco commented on #77
\cc @drupol

[2017-02-27 15:26] cosmicdreams commented on #77
I agree, specifically it looks like the way you're scanning files and directories can be used without much modification.  I would be nice if the file pattern that the scanner uses could be overridden by an extending class.

You mentioned that you're planning on implementing modules much like the one I would need to make for Pattern Labs and Fractal.  Have you already started that effort and if so

[2017-02-27 15:53] kclarkson commented on #75
have you decided how you wold like to fix the issue?

I know I spent hours trying to diagnose the problem so there may be other out there spending a ton of time trying to troubleshoot this.

[2017-02-27 15:55] kclarkson commented on #76
+1 for @hctom suggestion for grouping patterns on the overview page.  This is desperately needed for organization!

[2017-02-27 16:45] cosmicdreams commented on #77
I'm not done yet, but for the sake of continuing this discussion, I've put the work in progress here:

https://github.com/cosmicdreams/webcomponents

I'm extending your Deriver, and I've implemented a UiPattern plugin.

I'm not sure if I can continue to use simple_html_dom() so I took a shot at converting the logic to PHP's DomDocument.  I've got that work to finish.

If you can review the deriver

[2017-02-27 17:40] ademarco commented on #77
Nice work! I would move everything that concerns parsing etc to the deriver, so ideally this method should be moved out from the pattern class itself https://github.com/cosmicdreams/webcomponents/blob/master/src/Plugin/UiPatterns/Pattern/PolymerPattern.php#L37

How can I actually test it?

[2017-02-27 18:23] ademarco commented on #75
Yeah I think I'll move the test modules back to the tests directory so we don't have that anymore.

[2017-02-27 19:11] backlineint commented on #76
Also agree that this feature list looks very promising.  A few comments:

* Variants - this one came up for me in my use of the module thus far.  I'll often include a style modifier variable in my components.  Right now I'm passing the appropriate style modifier value when including components from pattern lab, but it sounds like what is planned here could address this nicely.
* Subfields - this i

[2017-03-05 09:32] ademarco opened #78 "Use TypedData API to define and validate pattern definitions"
### Scope
The title says it all, this will allow us a much more streamlined interaction with patterns and it will improve DX.

Linked to #76

### Tasks
- [x] Implement this.

[2017-03-08 19:47] mattlt opened #80 "Support new Drupal 8.3 layout_discovery core module and decommission layout_plugin"
The layout_discovery module has been introduced into core as an experimental module. Panels and Panelizer have created new branches that drop support of layout_plugin in favor of layout_discovery.

Specifically the ui_patterns_layouts module.

Might be a good idea to open a new branch that does the same to help with testing?

Thanks,

•• matt

[2017-03-13 15:57] #73 closed, assigned to nobody

[2017-03-13 15:57] #74 closed, assigned to nobody

[2017-03-13 17:56] #78 closed, assigned to ademarco

[2017-03-13 18:01] ademarco opened #81 "Allow multiple sources to be mapped to the same destination"
### Scope
We should provide a way for multiple sources to be rendered in the same pattern destination so that this can actually produce the desired result of having phone, fax, email, address and url all rendered in the metadata pattern field:

![image](https://cloud.githubusercontent.com/assets/153362/23868333/59ad988c-081f-11e7-91bd-ad7f0a989a6e.png)

### Tasks
- [ ] Implement this
- [ ] Write t

[2017-03-13 18:02] ademarco commented on #76
Now pattern definitions are actual TypedData objects, this will allow us to introduce things like variants or tags in a much easier and maintainable way. Check PR #79 for more details.

[2017-03-13 18:03] ademarco commented on #76
To all those involved in this discussion you might be interested in this issue: Allow multiple sources to be mapped to the same destination #81

[2017-03-14 12:20] ademarco commented on #74
@pixelwhip you might be interested to #81: it allows multiple sources to get into the same destination, meaning that you can have more than one drupal fields in the same pattern field.

[2017-03-14 13:04] #81 closed, assigned to nobody

[2017-03-14 20:02] ademarco commented on #80
Yep, we definitely need to address that, thanks for reminding! I'll try to take care of it asap.

[2017-03-14 20:36] ademarco commented on #76
I'm planning to work on this issue before our talk on [UI Patterns on DDD in Seville](https://seville2017.drupaldays.org/sessions/introducing-ui-patterns-module-use-atomic-ui-components-everywhere-drupal-8)

As first we could maybe tackle tags and a better overview page, I'm actually thinking to move out the overview page on its own module, say `ui_patterns_overview` so that we can isolate complex

[2017-03-14 21:40] hctom commented on #76
Hm, thats quite tough to decide. On the one hand, a dedicated file is of course good to keep the actual pattern definition short and simple, but on the other hand, the pattern definition itself already contains information that is used in the overview (e.g. ```label``` and ```description```).

For now, I think it should all reside in the same file, so you don't have to search different files for m

[2017-03-24 10:33] ghost opened #83 "Improve "use:" property processing"
When adding the following to one of my THEME.ui_patterns.yml files:
`use: "@organisms/widgets/quote/quote.html.twig"`

I get the following error on my Drupal site.
[code]

I'm trying to use Pattern Lab with Drupal 8 and wanted this module to be the bridge between these 2 systems, it worked great until I tried adding the "use" statement to use my Pattern Lab template instead of one defined through

[2017-03-24 11:43] backlineint commented on #83
@gertjanmeire the error message looks a bit different, but this seems similar to https://github.com/nuvoleweb/ui_patterns/issues/49

[2017-03-24 13:31] ghost commented on #83
@ademarco The following is the composer.json file and the composer.lock file from the Phase 2 theme I'm using in my project. These files are inside my theme folder inside a directory called "pattern-lab".

[composer.zip](https://github.com/nuvoleweb/ui_patterns/files/867992/composer.zip)

As far as I can see this starter theme uses this:
`                "twig/twig": "<1.25"
`

[2017-03-24 15:18] tassilogroeper commented on #76
At DDD17 we discussed a litte further. This is what we came up with:

- split basic default styleguide off, to a sub module. Make a distinction between the plain `ui_patterns` and it default Styleguide, that can be used for writing test and demo purpose.
- Discovering a pattern will be done via a "discovery.yml" in every folder (`*.ui_pattern.yml`) with minimal setup, like
  - machine name (`[file

[2017-03-25 15:36] ademarco commented on #83
Yep, that seems to be the problem:

[code]

Where is exactly the `<1.25` constraint?

[2017-03-25 16:18] ghost commented on #83
It is inside the composer.lock in my theme directory subfolder:
THEME/pattern-lab/composer.lock

It's this one:
[https://github.com/phase2/pattern-lab-starter/blob/master/pattern-lab/composer.lock](url)

[2017-03-25 17:19] ademarco commented on #83
Ok so it's one of the starter dependencies' dependency. I'm working on a way to include any kind of twig template (even ending in `.twig`) into an empty Drupal template wrapper, if I manage this would solve many issues.

[2017-03-25 18:09] aleksip commented on #83
That would be because `plugin-data-transform` 1.0.2 had that restriction. You can update `plugin-data-transform` to 1.1.0 to remove the restriction. And maybe open an issue/submit a PR at `pattern-lab-starter`.

[2017-03-26 18:25] tassilogroeper commented on #76
My proposed structure would be the following:

- Have one `[pattern_description].pattern.yml`-file (aka pattern description) for every pattern to be discovered.
- Per default a pattern target file (`[pattern_description].html.twig`) will be automatically discovered in the very same folder as the pattern description file.
- the `.html.twig`-extension of the target file needs to be a config. for oth

[2017-03-26 20:41] ademarco commented on #83
@gertjanmeire @aleksip I think you'll like the PR above.

Here what it does:

- Make sure we can use any Twig file extension, so both `.html.twig` and `.twig` are accepted
- Remove Twig loader service from `UiPattersManager`

@gertjanmeire can you please check that the code on the new branch works for you?

[2017-03-26 20:44] ademarco commented on #76
Thank you @pheadeaux ! I'll follow up tomorrow, for the moment https://github.com/nuvoleweb/ui_patterns/pull/84 will add support for any sort of file extension in the `use:` property, so we can just have:

[code]

[2017-03-27 13:01] kalinchernev commented on #76
Hi all,
Just passing by this thread, few thoughts:
- "Discovery" feature is a good direction of gluing systems together
- Choosing a specific generator for the pattern library could be a potential scope creep for integration IMHO. For example, Zen with kss-node is good enough for shipping theme with a set of examples, but having fractal for example is a bit different story as it's a whole framewor

[2017-03-27 14:52] ademarco commented on #76
I'm totally for `[ID].pattern.yml`, although we have been using `[ID].ui_patterns.yml` for now, but I guess we can support both and slowly fade out `[ID].ui_patterns.yml`.

Target file can be automatically discovered too, only I'm wondering what would happen with `-` separators as patterns IDs should not support that, maybe we can convert `-` into `_` or allow it and see how the Drupal theme syste

[2017-03-27 15:55] tassilogroeper commented on #76
@ademarco I agree. also the way of referencing the libraries works for me.

About the `use`-key: please be very cautious about that one, since we might introduce an alias system, that can be hard to grasp:

in Drupal we might use `@molecules/media/image/image.html.twig` but inside the (whatever) styleguide the include may also go for the `.twig` version.  I mean, we should enforce the parity of th

[2017-03-27 19:17] aleksip opened #85 "Overriden fields in Views displays seem to mess up UI Patterns configuration in other displays"
I have a view with two block displays and am using overriden fields in one of them. It seems that when I save UI Patterns settings in one display the settings in the other display are lost for those fields that are not in both displays.

Resulting error:

`Recoverable fatal error: Argument 1 passed to Drupal\ui_patterns_views\Plugin\views\row\Pattern::isFieldVisible() must be an instance of Drupal

[2017-03-28 05:59] #83 closed, assigned to nobody

[2017-03-28 06:01] ademarco commented on #83
@gertjanmeire this is now fixed in main branch.

[2017-03-28 07:50] ghost commented on #83
@ademarco Awesome, thanks! I'll try it out when I get a chance!

[2017-03-29 17:30] ademarco opened #86 "Move preview and YAML definition to a separate module"
### Scope

During a BOF at DDD 2017 it was decided to move everything that concerns defining and displaying patterns locally into a separate module.

This will allow for a better and more solid architecture: the main UI Patterns module will be solely responsible to provide plugins and other glue code: it will then be responsibility of modules implementing component library integrations to expose t

[2017-03-30 06:53] tassilogroeper commented on #86
nice. can you open a branch to make pull requests to? thanks.

[2017-03-30 07:58] ademarco commented on #86
Yep, I'll do as soon as I'll start working on it :)

[2017-04-01 10:06] ademarco commented on #86
By isolating YAML definitions into a separate module I've just realised that definition processing is also specific to the type of component library in use.

For example YAML definitions have Drupal specific information that other component libraries do not have (e.g. which module or there hosts the current definition), so this part should be taken out of the generic `UiPatternsManager` and placed

[2017-04-03 09:25] sinasalek opened #89 "Integration with CKEditor template"
I think that ckeditor template can use UI Patterns, it is basically the same thing with for using inside the content by users. There is a module [ckeditor_templates](https://www.drupal.org/project/ckeditor_templates) that adds predefined template for ckeditor. One good example is code highlights, we can either use something like paragraphs or use ckeditor and input filters.

[2017-04-03 09:30] ademarco commented on #89
That's very interesting! The integration would be quite easy I guess since patterns are [already exposed as render elements](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#render-patterns-programmatically), we could use fields information to give people the possibility to add content directly in the ckeditor plugin, the [rendering is trivial](http://ui-patterns.r

[2017-04-03 09:36] ademarco commented on #28
Closing for inactivity.

[2017-04-03 09:36] #28 closed, assigned to nobody

[2017-04-03 10:42] haringsrob commented on #28
@ademarco since the test is passing it seems indeed ok.

[2017-04-03 20:03] aleksip opened #90 "Make sure that preview property is not required to be set"
In many cases it can be perfectly ok for a field value to be empty or even not set at all. Currently an empty string as a preview value (`preview: ""`) throws an error ("This value should not be null.") and causes the whole pattern to be skipped.

Field definitions should probably have a property for defining whether the field can be empty/not set at all?

[2017-04-03 20:05] ademarco commented on #90
Have you tried not having the `preview:` at all? In latest dev it's not required anymore, see https://github.com/nuvoleweb/ui_patterns/blob/8.x-1.x/src/Plugin/DataType/PatternDefinition.php#L72

[2017-04-03 20:08] aleksip commented on #90
Tried without `preview:` at all, with the same result unfortunately.

[2017-04-04 08:10] aleksip commented on #90
Sorry, this turned out to be a user error: the null error message was due to a missing `type:` attribute.

With `type:` in place empty values work fine. Leaving out `preview:` resulted in the following message:

`Notice: Undefined index: preview in Drupal\ui_patterns\Element\PatternPreview::processFields() (line 33 of modules/contrib/ui_patterns/src/Element/PatternPreview.php). `

but the pattern

[2017-04-04 08:17] ademarco commented on #90
Thanks for the report, this then becomes fixing that warning! :)

The solution is to use pattern method to get the preview, instead of an array, and run the checks inside that method:

[code]

[2017-04-09 10:28] #86 closed, assigned to ademarco

[2017-04-09 10:28] ademarco commented on #86
I'll follow up this by moving hook theme and library processing out of UIPatternsManager class.

[2017-04-09 10:49] ademarco opened #91 "Decentralise plugin manager responsibilities towards pattern plugin classes"
## Problem and motivation

This issue is a follow up of #86 and it aims to delegate theme and library hook processing to the actual plugin classes. This issue is also part of the bigger effort outlined in #76.

Drupal integration between patterns and theme system happens mainly in two hooks:

[code]

That means that the Plugin manager is currently responsible of deciding how a pattern exposes them

[2017-04-10 19:44] hctom commented on #80
+1 for this because currently a site will horribly break if using Display Suite and being updated to Drupal 8.3 ;)

[2017-04-12 05:57] ademarco commented on #80
Work just started here. :)

[2017-04-12 06:56] ademarco commented on #80
It seems all good, we now need to use a proper deriver instead of an hook alter and to provide an update hook. I'd also set 8.3 core constraint in main `composer.json`.

[2017-04-12 13:46] ademarco opened #94 "Use derivative IDs everywhere"

[2017-04-12 15:39] ademarco commented on #80
Ok done, latest dev now supports Drupal >=8.3.

[2017-04-12 15:39] #80 closed, assigned to ademarco, bircher

[2017-04-13 04:41] thuledigital opened #95 "Cannot add fields at Manage display page"
Using vanilla Drupal 8.3 + Bootstrap Patterns theme. It's not possible to add or modify fields at Manage display page. All changes are reverted, no matter I do.

Here's a video I made: http://screencast-o-matic.com/watch/cbfIfwXnkN

[2017-04-13 07:22] ademarco commented on #95
Thank you for reporting, which version of the following modules are you using?

- Display Suite
- UI Patterns

[2017-04-13 08:15] thuledigital commented on #95
Sorry, forgot to mention that I'm using:
- Display Suite 8.x-3.0-beta2
- UI Patterns 8.x-1.0-beta7

[2017-04-13 08:45] ademarco commented on #95
I run on the same stack but I cannot replicate the error:

![patterns](https://cloud.githubusercontent.com/assets/153362/24997163/f83c7bc0-2035-11e7-9122-0b3ac9075962.gif)

[2017-04-13 11:57] thuledigital commented on #95
That's strange - I can't get it work even on my local enviroment. I need to debug this more when I have time. Thanks for looking into this!

[2017-04-13 14:56] thuledigital commented on #95
Ok, here's more info; my local MAMP stack: Apache/PHP 5.6.28

Vanilla Drupal 8.3.0
UI Patterns latest dev (2017-Apr-13)
Display Suite 8.x-3.0-beta2
Bootstrap theme 8.x-3.3
Bootstrap Patterns latest

As soon as I have activated Display Suite, UI Patterns, UI Patterns Layouts and Bootstrap Patterns theme site crashes (The website encountered an unexpected error. Please try again later.). Admin pages

[2017-04-13 14:58] ademarco commented on #95
You have to activate also UI Patterns Library for that route to be available, I'll update the readme on the Bootstrap Patterns theme.

[2017-04-13 15:02] ademarco commented on #95
Done, check here https://github.com/nuvoleweb/bootstrap_patterns#installation

[2017-04-13 15:37] thuledigital commented on #95
Great, that did it! My local environment is working fine now, thank you!

Next I tried that same solution in my Ubuntu 14.04.1 server where was the original problem. Again it crashed and here's the entry from the server log:

`Uncaught PHP Exception InvalidArgumentException: "Class "Drupal\\ui_patterns\\Plugin\\Validation\\Constraint\\PatternConstraintTrait" does not exist." at /var/aegir/platform

[2017-04-13 15:41] ademarco commented on #95
Wired that class is there: https://github.com/nuvoleweb/ui_patterns/blob/8.x-1.x/src/Plugin/Validation/Constraint/PatternConstraintTrait.php

Clearing cache didn't help right?
How can I replicate that error?

[2017-04-13 15:58] thuledigital commented on #95
Yes, the file is there and I'm using exactly the same stack (modules, Drupal core and themes) as in my local MAMP. Clearing the caches didn't help either.
So this must be in my server configuration. I suppose php version has nothing to do with this? MAMP has 5.6.28 and Ubuntu has 5.5.9. Also I'm using Aegir hosting system to manage Drupal sites so this is basically a multisite environment.

[2017-04-15 08:54] ademarco commented on #77
Follow up in #9. Closing.

[2017-04-15 08:54] #77 closed, assigned to nobody

[2017-04-15 08:54] ademarco commented on #75
This is actually a Drush bug, we should probably file an issue or check if there is already something going on about it.

[2017-04-19 08:29] thuledigital commented on #95
Ok, I tested this with separate Aegir installation with latest Ubuntu (php 7) and everything rocks - no errors at all. So it might have been a server setup issue. Sorry to take your time with this.
And thanks for developing this great module!

[2017-04-19 08:29] #95 closed, assigned to nobody

[2017-04-19 08:38] aleksip opened #97 "Add entity and view objects to pattern context"
It looks like the current code in `PatternFormatter->preRender()` does not work.

Pull request: #87

[2017-04-19 08:47] ademarco commented on #95
Nice to hear! 👍

[2017-04-21 18:28] aleksip opened #99 "Field destination values are not saved correctly"
At some point, for some reason, field destination values changed to numerical indexes instead of field names, causing patterns not to work.

PR #98 fixes the problem, at least for me, at least for field group patterns, in Drupal 8.3.

[2017-04-21 18:36] ademarco commented on #99
Thanks!

[2017-04-21 18:36] #99 closed, assigned to nobody

[2017-04-26 06:32] ademarco commented on #91
This is now merged in, closing.

[2017-04-26 06:32] #91 closed, assigned to nobody

[2017-05-30 17:19] tanc opened #100 "Class "Drupal\ui_patterns\Plugin\Validation\Constraint\PatternConstraintTrait" does not exist"
Hi Antonio,

For some reason when deploying config changes upstream I'm seeing fatal errors like this:

[code]

I'm using UI Patterns with the layout discovery system and display suite. UI Patterns module definitely exists on the server and is enabled. Let me know what else you need to debug this.

[2017-05-30 17:24] tanc commented on #100
With the exact same database cloned to local I'm not seeing this error so it must be environmental. The server is running PHP 5.5.55 while local is on 7.1.3

[2017-05-30 17:34] tanc commented on #100
Looks like it might be the same issue as someone had in #95

That user was also on PHP 5.5.x and resolved the issue by upgrading to PHP 7. So maybe there is a problem with PHP versions?

[2017-05-30 17:44] tanc commented on #100
I just tested locally on PHP 5.6 and its fine, unfortunately I don't have a 5.5 image handy to swap in

[2017-05-30 17:57] ademarco commented on #100
Hello @tanc ! Do you have APC running? Maybe that needs to be cleaned?

[2017-05-30 18:08] tanc commented on #100
I tried that, restarted apache, but same issue

[2017-05-31 09:12] tanc commented on #100
I've build a PHP 5.5 docker image to test locally and everything is still working fine, so that blows the PHP version theory out of the water :(

[2017-05-31 09:19] tanc commented on #100
Rebooted server, still the same error about not finding the trait:`InvalidArgumentException: Class "Drupal\ui_patterns\Plugin\Validation\Constraint\PatternConstraintTrait" does not exist`

So weird! Not sure how to proceed. Any tips @ademarco ?

[2017-05-31 09:41] tanc commented on #100
ok this is totally weird. I just cloned my local db to the server and now the site loads with no errors. I'm totally baffled.

[2017-05-31 11:58] tanc commented on #100
I can reliably produce the error on this one server by rebuilding caches. If I use drush to sync the database from local to the server there is no error. Once I rebuild caches on the server the error appears. I've isolated the issue to the plugin cache by clearing them one by one.

[2017-06-06 13:16] tanc commented on #100
Finally got a chance to update the server with 5.5 on it to 7.0 and the problem is gone. So definitely PHP related but maybe a very specific version of 5.5. So odd. Anyway, useful in case anyone comes across this problem. Will close this issue.

[2017-06-07 19:06] sherakama commented on #44
I would be nice if these settings could be defined in the [pattern-name].ui_patterns.yml file and be available in each of the places you can use patterns. eg: layouts, views, field_group, etc.

What I am thinking is that you would basically pass the form api information through the yml file to the form builder.

[code]

It would be nice to be able to have those settings' values available as a vari

[2017-06-07 19:52] sherakama commented on #13
Patterns on blocks in panels oh my!
+1 to this functionality.

[2017-06-09 15:35] jesconstantine opened #101 "Option to namespace variables in pattern render array"
First - I am brand new to this module (and Drupal) but super excited by it's potential, so thanks so much!

Currently all ui_pattern fields are added to the `$element` render array as top level variables.  (see snippet below from `Element\Pattern processFields()`: https://github.com/nuvoleweb/ui_patterns/blob/8.x-1.x/src/Element/Pattern.php#L92)

[code]

I was wondering if there was the option to

[2017-06-21 13:26] jeremygrajales commented on #100
Unless PHP 7 is a requirement to use this, I'm not sure why this was closed.

I'm experiencing the same issue on PHP  5.5.9.
It only happens when UI Patterns Library module is enabled.
I can enable some of the other modules just fine.

[2017-06-21 13:30] tanc commented on #100
I closed it as I couldn't replicate the issue with a local PHP 5.5.x version and therefore couldn't confirm the PHP version was the problem. If you're also experiencing this problem then that's three people so its probably worth re-opening.

[2017-06-27 10:24] tanc opened #103 "Should a views pattern work with Search API?"
I'm wanting to use a pattern to output the fields from a Search API based view. I've configured it as shown:

![search_config](https://user-images.githubusercontent.com/76320/27583045-5f542b9a-5b33-11e7-833f-ba0f05878c96.jpg)

But in the used twig template all the values are NULL, as if there is a mapping issue and the field values are not getting passed through. I've confirmed that the view is wo

[2017-06-27 11:09] tanc commented on #103
Debugging this I find that getMappingDestination() is mapping my fields to integers rather than the correct names as shown in the patten_mapping array:

![pattern_mapping](https://user-images.githubusercontent.com/76320/27584788-ac2f9cfa-5b39-11e7-90ec-c0ca47f0ba75.jpg)

Those integer keys are then passed through as the field names but they don't match what the renderer is expecting and so nothing

[2017-06-27 11:31] tanc commented on #103
Ahh... just traced it to getFieldsAsOptions() where the keys returned are integers rather than the strings. Just checked the master branch and seen that this has been fixed since the beta I'm on. Why didn't I try updating first? At least I had fun digging through the internals of the module and have a better grip on how it works :)

[2017-06-27 11:31] #103 closed, assigned to nobody

[2017-06-27 14:35] tanc opened #104 "Contextual links are lost when a pattern is rendered"
Using a pattern for the output of a node, the node's contextual links are not passed through to the template for rendering. It would be useful to have these available for printing in the twig file so as not to lose functionality and UX.

[2017-06-27 14:58] aleksip commented on #103
Would be nice to get a new release with this fixed!

[2017-06-27 15:08] aleksip commented on #76
These are all great improvements, but as development has slowed down in the past few months, I'd vote for releasing 1.0 as soon as possible. beta7 is already good enough for a lot of use cases (I've used it on several production websites), and a 1.0 release would be much more attractive for people considering the module.

[2017-06-27 15:54] sherakama commented on #76
Ditto to the 1.0 release.

I am also planning on using this module for a production website and have some development cycles to share. Do you have a development plan outside of this issue or a contributing document?

[2017-07-05 16:13] sherakama commented on #76
A first effort at the variant functionality can be found here: https://github.com/nuvoleweb/ui_patterns/pull/105

[2017-07-06 19:16] pookmish commented on #34
This doesn't work for dependencies. see https://github.com/nuvoleweb/ui_patterns/pull/106

[2017-07-25 12:03] bserem opened #107 "Document that field_layout is required to assign patterns to displays"
What the title says more of less!

I believe that UI Patterns will be mostly used to assign patterns to a display, not just to demonstrate them visually.
For that to work, field_layouts is required, which would be nice to be documented.

Thanks

[2017-07-31 12:48] yannickoo opened #108 "Support entity extra fields"
I was just wondering about missing extra fields in pattern mapping. It seems like adding a new source for patterns is enough.

[2017-08-01 11:03] bserem opened #110 "Looks for templates in the wrong folder"
I have created a custom module for adding my own ui patterns (ie: my_ui_patterns) with a structure like the following:

[code]

And I get the following error:

[code]

If I change my folder structure to the following things work:
[code]

But it will be a mess quite soon with the rest of the patterns coming up.

The contents of the blockquote YML file are the following:
[code]

I am not sure whethe

[2017-08-01 12:55] bserem opened #111 "Field Groups are not working"
Field groups with UI patterns do not work, though I guess this is a field_group issue (https://www.drupal.org/node/2878359).

Still searching for a fix to the issue.

[2017-08-01 14:37] yannickoo commented on #111
@bserem did you try the latest version of UI Patterns? Mapping is broken in the current `8.x-1.0-beta7` version _(numbers instead of field names are being used for mapping which is wrong so pattern fields cannot be passed to template correctly)_.

[2017-08-01 15:24] bserem commented on #111
Nope, will do!

In general, ui_patterns is very very promising, but it looks like it is suffering from field_layout issues.

[2017-08-03 21:04] christianwiedemann commented on #44
@sherakama I like the idea to have settings for my patterns.
Each setting.type should be a plugin to extend them easily.

Maybe it makes sense to combine settings and variants.
Variants are "settings sets"
For example:
[code]
This pattern generates two items the in the pattern dropdown list. One item "card" and one item "card [red]".
If you select "card" you have to input fields to configure your

[2017-08-03 23:47] sherakama commented on #44
@christianwiedemann

Thanks for the feedback. This does make sense but I think it could lead to an extremely long pattern list. I like that the patterns would be more concrete (pattern: card[red]) but when you start to add a number of variants to the same pattern that could get quite complicated quickly. We took a stab at this functionality and wrote a ui_patterns_variants module found at: https:/

[2017-08-20 08:22] ademarco commented on #100
@tanc still experiencing this?

[2017-08-20 09:35] ademarco commented on #101
Hi @jesconstantine! Name-spacing variables could be useful indeed, I'll give it a try.

About came case, it should already be supported as per https://github.com/nuvoleweb/ui_patterns/blob/8.x-1.x/src/TypedData/PatternDataDefinition.php#L19

[2017-08-20 09:48] ademarco commented on #101
We could add a new option called `fields_container:` where you could specify the field container name, in your case it would be something like this:

[code]

If `fields_container` is there then fields will be nested under that element.

Note that by using standard alter hooks you could easily add it to all your pattern definitions:

[code]

Would that work?

[2017-08-20 09:50] tanc commented on #100
No, all good with PHP 7 and couldn't reliably replicate with 5.5 although that seemed to be the factor that caused the problem. Oh, it looks like I re-opened the issue. Happy to close it though

[2017-08-20 09:50] #100 closed, assigned to nobody

[2017-08-20 14:02] ademarco commented on #110
Hello @bserem I can actually replicate your error! Thing is: I did test that but only for themes, somehow it does not work when patterns are defined in that way within modules, I'll work on it.

[2017-08-20 15:03] ademarco commented on #110
Ok this is fixed now, please feel free to re-open the issue if the problem persists.

[2017-08-20 15:03] #110 closed, assigned to ademarco

[2017-08-20 15:15] ademarco commented on #90
This actually got fixed when refactoring pattern definition class since now we have sensitive defaults assigned to missing properties, I've added tests anyway, will merge and close if Travis is ok with it.

[2017-08-20 15:24] #90 closed, assigned to ademarco

[2017-08-20 15:25] ademarco commented on #75
@kclarkson Still having this issue?

[2017-08-20 15:33] ademarco commented on #108
Nice work @yannickoo ! We would need tests too, wanna give it a try or should I take over?

[2017-08-22 11:32] bserem opened #116 "Template is not defined"
With the solution of #110 a new issue appears, when including a twig file in another twig file this error appears:

[code]

This worked fine before https://github.com/nuvoleweb/ui_patterns/commit/b8bf2e2d8ca854846e87babf125b5391351c9102 was commited.

The inclusion happens like that:
[code]

[2017-08-22 15:52] sherakama commented on #116
@bserem,

You should be using the `pattern()` function. It goes further than a simple include as it runs the template through the appropriate preprocess functions and includes any libraries attached with the pattern.

eg: https://github.com/SU-SWS/stanford_components/blob/8.x-1.x/patterns/molecules/simple-slats/simple-slats.html.twig#L22

Alternatively, The twig templates are namespaced. You shoul

[2017-08-23 06:17] ademarco commented on #44
Wow! @sherakama @christianwiedemann sorry for having overlooked your work for so long! It looks really interesting, I'll follow-up on the PRs.

[2017-08-23 12:36] ademarco commented on #116
Yes that's correct, thanks @sherakama ! Also, check docs at http://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#render-patterns-using-twig-functions it might help you.

[2017-08-23 14:05] bserem commented on #116
It worked fine, thanks!

I suppose this way I can use ui_patterns for my custom modules or other parts of the site, rather than just paragraphs? (I am thinking for custom blocks).

[2017-08-25 05:42] ademarco commented on #116
Yes exactly, that's the way to use patterns pretty much anywhere.

[2017-08-25 05:42] #116 closed, assigned to nobody

[2017-08-25 05:44] ademarco commented on #104
Hello @tanc ! So you use a pattern to render, say, a node teaser view mode and then contextual links are not working anymore right?

[2017-08-25 09:38] yannickoo commented on #104
@ademarco exactly!

[2017-08-26 09:13] ademarco commented on #104
Hey guys, could you check if the current branch works for you? It assumes that the containing pattern element has `position: relative;` but that's on the theme level, hence outside the scope of the module.

[2017-08-28 09:30] yannickoo commented on #104
@ademarco I cannot see any new [commits](https://github.com/nuvoleweb/ui_patterns/commits/8.x-1.x) or am I missing something?

[2017-08-28 09:55] tanc commented on #104
@yannickoo check the [104-contextual-links](https://github.com/nuvoleweb/ui_patterns/tree/104-contextual-links) branch, it hasn't been merged into 8.x-1.x yet.

@ademarco I'll try and test this week, thanks for the commit!

[2017-08-30 07:25] ademarco opened #118 "Add pattern variants"
### Scope
The scope of this issue is to add variants following discussion on #105 and #112.

[2017-08-30 09:18] aleksip opened #120 "Defining library dependencies"
I'm trying to define a library dependency like so:

[code]

But this results in:

`
TypeError: Argument 1 passed to Drupal\ui_patterns\UiPatternsManager::processLibraries() must be of the type array, string given, called in /ui_patterns/src/UiPatternsManager.php on line 189 in Drupal\ui_patterns\UiPatternsManager->processLibraries() (line 178 of modules/contrib/ui_patterns/src/UiPatternsManager.ph

[2017-08-30 12:27] christianwiedemann opened #121 "Add Display Suite dynamic fields source"
Display suites "dynamic fields" and "block fields" do not appear as "source field"

[2017-08-30 14:22] sherakama commented on #120
Please see for fix: https://github.com/nuvoleweb/ui_patterns/pull/106

[2017-08-30 16:25] aleksip commented on #120
Ah, missed that PR. Great work @pookmish!

I'll leave this issue open as the original library issue has been closed.

[2017-08-30 16:29] pookmish commented on #120
👍

[2017-08-31 07:14] bserem commented on #120
This worked for me:

[code]

Inside the accordion,ui_pattern.yml, not inside the libraries yml file.

[2017-08-31 09:39] bserem commented on #116
To call a pattern in a custom block I used this:

[code]
A bit different than the example in the docs, but I figured it out in the end.

I suppose PRs for documendation are welcomed.

[2017-09-03 10:34] bserem opened #123 "Request: Views support for whole view (format)"
It would ideal to have support to style the whole view using UI patterns.

I know that we can use views for the row styling, which is pretty amazing.
What I would like to see on top of that is the option to select patterns as the view format (alongside 'unformatted/html list', 'table' and 'grid').

I'll try to describe my thoughts giving an example, in order to make things easier to understand.

L

[2017-09-07 11:56] kclarkson commented on #75
@ademarco sorry I have been at D8 halt for a little bit. Did you end up moving the files into a new directory? Did that fix the issue for you?

[2017-09-14 12:19] tanc opened #126 "Drupal 8.4.x compatibility"
I'm testing in Drupal 8.4.0-RC1 and noticed that Symfony components have been updated, including the validator component. The updated ConstraintValidatorInterface interface now requires a new method called initialize which is causing a fatal error in `src/Plugin/Validation/Constraint/ValidPatternMachineNameConstraint.php`

[2017-09-15 08:32] aleksip commented on #126
Have also been testing 8.4.0-rc1, can confirm that your PR fixed it for me too. Thanks @tanc!

It looks like the PR makes UI Patterns incompatible with Drupal 8.3.7, so this should be noted in the release notes.

[2017-09-16 13:09] aleksip commented on #120
Nice workaround, thanks @bserem!

[2017-09-17 11:22] ademarco opened #128 "Setup project development using Drupal Component Scaffold"
Use https://github.com/nuvoleweb/drupal-component-scaffold to setup tests, CI and local development.

[2017-09-18 04:23] johnreytanquinco opened #130 "Pattern link encountered unexpected error"
I encountered this error message and it might be related to this module.

https://github.com/nuvoleweb/bootstrap_patterns/issues/2

[2017-09-18 11:25] johnreytanquinco opened #131 "Theme configuration and UI Patterns Views Problem"
**Need help**

I have cloned and enable [Bootstrap Patterns](https://github.com/nuvoleweb/bootstrap_patterns) theme to try out this module.

The setup is that ui_patterns is installed in `drupal-root/modules/` and bootstrap-pattern is under `drupal-root/themes/custom/`.

So I have some questions in mind.
1. How can I properly configure and make changes to theme code and reflect to the site. For ex

[2017-09-19 20:00] magick93 commented on #130
Im also getting this error

[2017-09-20 10:57] johnreytanquinco opened #132 "Views page result not displaying entity fields"
I am working on creating a custom theme and using this module seems to be a powerful tool for theme development. However, I am facing a bug with regards to using pattern with views.

**My steps to follow:**
1. Create a dummy contents with fields corresponds to card component.

with fields:
- _Title_
- _Name_
- _Photo_
2. Added a view(page/block) of contents.
3. Under `Format:Show`, select: `Patter

[2017-09-20 10:58] johnreytanquinco commented on #131
Duplicate to https://github.com/nuvoleweb/ui_patterns/issues/132

[2017-09-20 10:58] #131 closed, assigned to nobody

[2017-09-20 18:18] reganking commented on #132
Hi @johnreytanquinco, Working same need for ui patterns in views.

I think only view row patterns are supported in 8.x-1.0-beta7. BTW, this relates to request issue #123 from @bserem

The work-around I'm looking at is retrieving the fields I need from the node in the pattern preprocessor if the ui pattern fields are NULL.

[2017-09-22 07:55] ademarco commented on #132
Thanks for reporting, I'm actually facing the same issue, I'm on it!

[2017-09-22 08:15] ademarco commented on #132
@johnreytanquinco have you tried with the latest dev version of the module? It works for me.

[2017-09-22 08:23] johnreytanquinco commented on #132
Perfect! It works fine. Thanks @ademarco

[2017-09-22 08:23] #132 closed, assigned to ademarco

[2017-09-23 09:06] #128 closed, assigned to ademarco

[2017-09-23 09:09] ademarco commented on #126
I'll actually setup travis matrix so we can test the module against several core dependencies at the same time.

[2017-09-23 09:40] ademarco commented on #130
Thank for reporting, the bootstrap_patterns theme needs to be updated, I'll close this issue since it does not concern this module.

[2017-09-23 09:40] #130 closed, assigned to nobody

[2017-09-23 09:43] ademarco commented on #123
This is totally possible, it's about building yet another Views plugin (a display plugin in this case) that would use patterns to format the view.

BTW: since patterns are exposed as layouts too have you tried using something along the line of https://www.drupal.org/project/layout_plugin_views ?

[2017-09-23 11:28] #120 closed, assigned to ademarco

[2017-09-23 11:28] ademarco commented on #120
Merged, closing.

[2017-09-23 11:30] ademarco commented on #75
Didn't move the files but I don't have the issue anymore, I'll close this issue for now, thanks!

[2017-09-23 11:30] #75 closed, assigned to nobody

[2017-09-23 16:19] ademarco commented on #126
Fixed and merged, we are not compatible with 8.4! Thanks everyone! :)

[2017-09-23 16:19] #126 closed, assigned to ademarco

[2017-09-23 17:50] ademarco commented on #111
Yep, I can confirm it latest dev works with Field Group  8.x-1.0-rc6 version. Closing.

[2017-09-23 17:50] #111 closed, assigned to nobody

[2017-09-23 18:51] #97 closed, assigned to nobody

[2017-09-23 19:40] ademarco commented on #107
Actually `field_layouts` is not required, I'll close this issue, feel free to re-open if necessary.

[2017-09-23 19:40] #107 closed, assigned to nobody

[2017-09-25 12:27] bserem commented on #123
I didn't knew about layout_plugin_views, but it seems pretty old for D8 standards.

Anyway, I am giving a try for a views plugin right right now.

[2017-09-26 07:00] ademarco commented on #123
Yep, have a look, if not then we can just add it to UI Patterns, it's totally in the scope of the core module.

[2017-09-28 11:15] bserem commented on #107
Really strange...
For me, without field_layout I could not see my patterns and assign them.

After your last comment I went on and disabled it (uninstalled it) and no patterns were loaded in paragraphs and nodes.
Custom code (patterns in blocks, used programmatically) was working fine.

[2017-09-29 16:31] gnindl opened #139 "Entity raw field values passed as Twig variables"
We have the use case of having quite a number of compound field displays supplied by the field groups submodule. In these templates we also apply conditions where we need entity field values. The formatted mappings are for this purpose less than ideal. The PatternFormatter class methods are overridden in a custom class:
` public function preRender(&$element, $rendering_object) {

    parent::preRe

[2017-10-10 16:35] marklabrecque opened #140 "Drupal 8.4 incompatibility"
Fatal error: Declaration of Drupal\ui_patterns\Plugin\Validation\Constraint\ValidPatternMachineNameConstraint::initialize(Symfony\Component\Validator\ExecutionContextInterface $context) must be compatible with Symfony\Component\Validator\ConstraintValidatorInterface::initialize(Symfony\Component\Validator\Context\ExecutionContextInterface $context) in /srv/bindings/b7c6b0b193d84109a9246133853b209a

[2017-10-10 16:38] aleksip commented on #140
This has been fixed in 1.0-rc1!

[2017-10-10 16:44] marklabrecque commented on #140
Ah! nice work, thanks. Has this been deployed to Drupal.org yet?

[2017-10-13 14:39] JPustkuchen opened #141 "Searching for a pattern in the wrong directory"
pattern-image.html.twig is defined in our theme. The directory is: OURTHEME/templates/_patterns/pattern-image.html.twig
When using media library the ui_patterns module searches for it in the wrong directory (modules/contrib/ui_patterns/templates/pattern-image.html.twig) and returns the error:

Auf der Website ist ein unvorhergesehener Fehler aufgetreten. Bitte versuchen Sie es später nochmal.</br>

[2017-10-20 13:11] laurencefass opened #142 "automate import of ui_pattern components into drupal entities (of different types)."
Feature Request
============
platform: drupal 8.4.0

Trying this module for the first time and Im mapping ui_pattern fields to drupal entity fields.

Would it be possible to automate the mapping and create drupal entities? Not full nodes - possibly ECK entity, brick, field collection, or paragraph - that can be used to compose other entities?

i.e. a one click option to create entities from ui_pat

[2017-10-20 14:32] laurencefass opened #143 "creating basic card in drupal 8.4 fails."
i'm testing this for the first time. the site/patterns page looks ok.

to start simple im trying to display a {ui_pattern/card} from a field_group.

test steps: goto site/patterns to see the fields
create a content type with text and image fields to match the {ui_pattern/card} fields
add a field group of type pattern.

result 1:

on first save  i could only see map the text and body not the title

[2017-10-20 14:49] laurencefass commented on #143
update: on clearing cache i am able to save and resume creation of my card content type. problem persists with only limited fields available. when i try to view  content i get a white screen (The website encountered an unexpected error. Please try again later.) and following error log:
![ui patterns view content](https://user-images.githubusercontent.com/3512857/31826903-46a8f398-b5ae-11e7-8440-cb

[2017-10-20 15:13] laurencefass opened #144 "support request: installation"
whats the correct way to install ui_patterns. can i do a simple drush dl, or is there some combination of composer installs to make it work. i've tried a drush dl on drupal8.4 - at the moment my installation appears a bit broken. thanks.

[2017-10-25 12:15] aleksip opened #145 "Null field values in field group pattern cause fatal error"
I get the following error with Drupal 8.4.0 and UI Patterns 1.0-rc1 using `ui_patterns_field_group`:

`TypeError: Argument 1 passed to Drupal\ui_patterns_field_group\Plugin\field_group\FieldGroupFormatter\PatternFormatter::findEntity() must be of the type array, null given, called in drupal-8/web/modules/contrib/ui_patterns/modules/ui_patterns_field_group/src/Plugin/field_group/FieldGroupFormatter

[2017-10-30 19:58] ademarco commented on #144
Hello @laurencefass an ordinary `drush dl` would do, how exactly is your installation broken? What's the error you get?

[2017-10-30 20:00] ademarco commented on #143
Have you tried solution on #145? It might be related.

[2017-10-30 20:02] ademarco commented on #140
Yes it should be on d.o already, can you confirm updating to RC1 solved the problem?

[2017-10-31 03:58] johnreytanquinco opened #148 "Missing module in a theme"
`
User warning: The following theme is missing from the file system: ui_patterns_test in drupal_get_filename() (line 250 of /opt/app-root/src/core/includes/bootstrap.inc) #0 /opt/app-root/src/core/includes/bootstrap.inc(566): _drupal_error_handler_real(512, 'The following t...', '/opt/app-root/s...', 250, Array) #1 [internal function]: _drupal_error_handler(512, 'The following t...', '/opt/app-roo

[2017-10-31 07:00] ademarco commented on #148
Hello @johnreytanquinco how did you get that message exactly?

[2017-10-31 07:42] johnreytanquinco commented on #148
I was trying to fix [ this issue ](https://github.com/nuvoleweb/bootstrap_patterns/issues/6), and able to access `/pattens` link by just doing [this step](https://github.com/nuvoleweb/bootstrap_patterns/issues/6#issuecomment-340652360). Then I received that warning message in Drupal logs.

[2017-10-31 09:20] ademarco commented on #145
Thanks! merged and closed.

[2017-10-31 09:20] #145 closed, assigned to nobody

[2017-11-03 01:43] johnreytanquinco opened #149 "Page display error message during drush cr"
Can anyone please advice if this issue had already been fix? Thanks!
[code]

[2017-11-03 14:46] jbertoen opened #150 "Example for integration with Pattern Lab or Fractal"
Is there an example for a setup with Pattern Lab using the Deriver Plugin?
I know during the talk at DrupalCon Vienna there was some sort of example code.

[2017-11-07 08:08] ademarco commented on #149
That's when enabling the test module, Wich should not normally be enabled on an actual site.

[2017-11-07 08:08] #149 closed, assigned to nobody

[2017-11-08 02:54] johnreytanquinco commented on #149
Hi @ademarco Can you please clarify what test module is enable in ui patterns?

[2017-11-08 18:09] slucero commented on #141
I ran into this issue on a project as well. It happened when:

- A pattern was defined in the front-end theme's info file
- A paragraph field was configured to use the "preview" format on the edit form of a node type
- The node edit form used the admin theme (not the theme defining the pattern)
- A paragraph added to the paragraph field was configured to render using the custom pattern in question

[2017-11-08 18:10] sherakama commented on #85
I also had the same problem.

You have to be very careful and make sure you override the pattern settings for the display that you have overridden fields for. You cannot just override the fields it seems.

[2017-11-09 11:47] loominade opened #151 "ui_pattern libraries are not altered by `hook_library_info_alter()`"
So some modules might not work with it. For instance the core [color](https://www.drupal.org/docs/8/core/modules/color/overview) module.

Its not possible for the module to alter colors in css files delivered with ui patterns.

[2017-11-12 11:50] ellioseven opened #152 "Cardinality Support?"
I have a simple pattern like so:

[code]

[code]

The values are mapped from a link field.

This works perfectly fine with the display suite field template implementation.

However, if I increase the cardinality from 1 to unlimited, only the first field item will show:

![screenshot from 2017-11-12 22-49-17](https://user-images.githubusercontent.com/4191120/32698547-c8175c80-c7fb-11e7-9761-5f4e3fa

[2017-11-13 12:15] loominade opened #153 "Ability to add multiple previews to a single pattern"
From time to time I need to show different preview contents within a single pattern.

## Proposal

I hereby propose the following behaviour:

I assume most patterns need only one preview. For those, the behaviour should stay as it is. If you wanted more previews, add a separate configuration file:

In the same directory of the pattern definition `icon_button.ui_patterns.yml`  add another file `ico

[2017-11-13 17:17] ruut12 opened #154 "8.x-1.0-rc1 UI Patterns Display Suite error's"
Hi.

I have errors with DS and UI patterns.
If I turn on DS field templates and set default field template to pattern then I get 3 errors:

Warning: array_filter() expects parameter 1 to be array, null given in Drupal\ui_patterns_ds\Plugin\DsFieldTemplate\Pattern->getCurrentField() (line 147 of modules/contrib/ui_patterns/modules/ui_patterns_ds/src/Plugin/DsFieldTemplate/Pattern.php).

Warning: ar

[2017-11-17 22:05] joshuaboltzmc commented on #148
I'm having a very similar issue, but a little different in that when my site attempts to build, when Drupal is looking up the dependency, such as `my_custom_theme`, the build error shows:
drupal_get_path('module&', 'my_custom_theme')

Of course, my_custom_theme is not a module, it's a theme.
This seems to stem from the fact that the feature module YML has a dependency on that theme, such as:
custo

[2017-11-19 22:07] ademarco commented on #154
Hello, which version of Drupal core are you using?

[2017-11-20 07:35] ademarco commented on #152
Unlimited cardinality should work, we also have a test that covers just that ([check it here](https://github.com/nuvoleweb/ui_patterns/blob/cc64432e3bb757243fc241c9812b460f4d0a31a2/tests/features/content.feature#L43)).

[2017-11-20 08:19] ademarco commented on #151
It seems that patterns can be altered but new definitions cannot be added, check the committed code, I'll need to fix that.

[2017-11-20 15:08] steffenr commented on #141
Have you tried the latest dev version of the module. In our case we had a similar problem - we tried to separate our patterns in a custom module (base-patterns) and every time we tried to use the pattern, ui_patterns was looking in the templates folder of our custom module. After updating to the latest dev version of ui_patterns the files are recognized correctly.

[2017-11-21 11:18] gambry opened #157 "Config schema issues"
While testing my patterns I received a couple of errors due schema missing/incongruence. I'm happy to split this issue in two (or more) as I think the issue is deeper than just a schema missing.

`core.entity_view_display.paragraph.cta.default:third_party_settings.ds.layout.settings.pattern missing schema`
This looks like just a missing schema for the pattern layout settings. Easy to fix, however

[2017-11-21 11:27] gambry commented on #157
`core.entity_view_display.paragraph.cta.default:content.field_cta_link.third_party_settings.ds.ft.settings`

~~Looking at ds/config/schema/ds.entity_display.schema.yml and the right schema should be either
core.entity_view_display.paragraph.cta.default:content.field_cta_link.third_party_settings.ds.**fields**.ft.settings or the proper one, which is actually missing.~~

Scrab that, I got lost on sc

[2017-11-21 12:43] gambry commented on #157
This below is to fix field formatter third party settings:
[code]

I'm not sure how to tackle `core.entity_view_display.paragraph.cta.default:third_party_settings.ds.layout.settings.pattern missing schema` because I'm not sure new layout.settings are meant to be added, and if yes how do you add property to a schema definition.

[2017-11-22 12:00] loominade opened #158 "Libraries delivered by patterns can not be extended by sub themes"
1. Define a pattern in the base theme `base_theme/templates/patterns/thingi.ui_patterns.yml`:

[code]
2. Create a sub theme that adds a library `base_theme/sub_theme/blue.libraries.yml`:

[code]
3. That _should_ extend what was defined in Step 1`base_theme/sub_theme/blue.info.yml`:
[code]

## `libraries-extend`

It would seem that [`libraries-extend`](https://www.drupal.org/node/2497313) does not

[2017-11-22 23:21] jordanpagewhite commented on #154
Hey @ademarco . I am experiencing the same errors posted above:

Drupal core: 8.4.0-dev
Display suite: 8.x-3.1
UI Patterns: 8.x-1.0-rc1

Steps to reproduce:

1) Have a working Drupal environment with the version(s), modules above
2) Enable Display suite, UI patterns, UI Patterns DS, UI Patterns Layouts, UI Patterns Library, UI Patterns View
3) Go to '/admin/structure/ds/settings' and enable field

[2017-11-23 07:12] steffenr opened #160 "Overwrite module defined patterns on theme layer"
We want to build "kind-of" base components/ ui_patterns in a module. Those patterns can be used "as is" or can be overridden on theme-layer. Best example for such a usecase would be a slider - default would be a slick slider. The slider is fine for most cases, but in some special cases, we want to use a custom library for the slider in our theme. Instead of using a hook alter function or creating

[2017-11-23 07:12] steffenr commented on #160
#159

[2017-11-27 15:56] damienmckenna commented on #148
I put together a patch for Features to resolve this issue:

* https://www.drupal.org/project/features/issues/2924625

Please give it a spin, it should help with this.

[2017-11-27 18:10] jordanpagewhite opened #161 "Pattern plugins are not discovered during site install when building from configuration"
## Steps to reproduce

1. Create a pattern and an accompanying paragraph type that uses the pattern as a layout
2. Export your configuration (we are particularly interested in the entity_view_display config file for your paragraph type, but you'll need the other config as well obviously) to the config/install directory of a custom module
3. Try to rebuild your site (`drush si` or use the browser)

[2017-12-08 16:36] damienmckenna commented on #118
Should this instead be pushed back to be managed via the entity display system? There are several existing systems which can handle this - Display Suite Switch View Mode, Panelizer, etc.

[2017-12-08 18:33] damienmckenna commented on #118
This module was just added today too: https://www.drupal.org/project/paragraphs_viewmode

[2017-12-12 01:28] drclaw commented on #42
I wonder if using `Drupal\Component\Plugin\CategorizingPluginManagerInterface` and `Drupal\Core\Plugin\CategorizingPluginManagerTrait` is a place to start? Provides one level of categorization as well as label sorting out of the box and could be extended beyond that?

Initial implementation would look something like https://github.com/drclaw/ui_patterns/commit/fd94b87987ce80ca13ba42bec5ffa1ee82697

[2017-12-12 12:15] johnreytanquinco opened #162 "Display field Label in view"
In my view, I selected a pattern to display the fields. But when I click on `Create a label` and save, its not showing up in page.

![screenshot from 2017-12-12 20-13-01](https://user-images.githubusercontent.com/7284893/33884023-0b538778-df79-11e7-8393-8d0f2db13894.png)

[2017-12-12 12:42] johnreytanquinco opened #163 "Display custom pattern in specific page"
I added a custom pattern data in
`bootstrap_patterns.ui_patterns.yml`
[code]
then another custom pattern `about.ui_patterns.yml` with more several fields.
[code]

In my custom group type, I have these fields configured in a page view using the pattern `About`, and they are showing up in the page. Then I added `Disclaimer` field in the same group type and my goal is to display it in the footer sect

[2017-12-12 13:18] johnreytanquinco commented on #163
Solved. I need to create another file `pattern-disclaimer.html.twig` to display it. I also created a view block to display the `disclaimer` field.

[2017-12-12 13:18] #163 closed, assigned to nobody

[2017-12-13 10:54] loominade opened #164 "make use of the `type` in fields"
According to the [Docs](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html#pattern-definitions) the `type` variable is:

I propose to change that.

Currently all the data in `preview` is expected to be ether a string or a render array.

I think this should be configurable with the `type` field

Type      | Function
---------|-----------
`string` | The input will be conve

[2017-12-13 16:26] latzt commented on #158
I installed the [ui-patterns-demo](https://github.com/nuvoleweb/ui-patterns-demo) site and created a sub-theme `demo_theme_2` with `demo_theme` as base theme.

As example, i was able to extend the libraries from media ui_pattern as follows in `demo_theme_2`:

[code]

I just added this comment to help with this issue and to show that non-nested themes can actually extend libraries from ui_patterns.

[2017-12-15 13:17] laurencefass opened #165 "installation"
whats the recommended installation for this module?

i've tried drush dl and i see  there's a composer.json present in the install directory.

do i need to > composer install in the module directory?

[2017-12-15 13:28] laurencefass commented on #165
may useful to include info on installation here... http://ui-patterns.readthedocs.io/en/8.x-1.x/index.html

[2017-12-15 13:38] laurencefass commented on #165
clearly there are extra steps required to install from drush dl... I tried installing on a clean drupal-8.4.3 with composer (hoping to satisfy composer dependencies).

$ composer require drupal/ui_patterns
Using version ^1.0@RC for drupal/ui_patterns
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requiremen

[2017-12-15 17:08] laurencefass opened #166 "pattern libraries?"
ui_patterns doesnt appear to ship with any defaults. is there a library available i can install into an existing site?

[2017-12-15 19:54] jonathanjfshaw commented on #164
the meaning of the conditional is unclear to me; do you mean "if type=array then perform no conversion, test it's truly an array, error if not"?

[2017-12-18 09:51] latzt commented on #166
You can check out the [ui-patterns-demo](https://github.com/nuvoleweb/ui-patterns-demo) and take a look at the provided patterns. The ui_patterns module itself does not come with any patterns and works just as an API module.

[2017-12-18 10:42] loominade commented on #164
Yes, why not?

[2017-12-18 14:15] latzt commented on #165
I suggest to install Drupal not by yourself, use a composer template like [this](https://github.com/drupal-composer/drupal-project)

Install a new project like this:

`composer create-project drupal-composer/drupal-project:8.x-dev some-dir --stability dev --no-interaction`

Then you can add ui_patterns

`cd some-dir`

`composer require drupal/ui_patterns`

The benefits you get from using a compose

[2017-12-20 15:19] laurencefass commented on #165
thanks you for assisting. do i still do the site-install in this process? many thanks.

[2017-12-21 09:35] latzt commented on #165
Yes, site-install still needs to be done when using the composer template to setup a new Drupal 8 site. You can either visit `install.php` in the browser or run `drush si`, which is [documented here](https://drushcommands.com/drush-8x/core/site-install/). But there are ways to automate this, too.

[2017-12-21 11:55] laurencefass commented on #165
Thanks tim i have to admit the new drupal composer thing is killing me a bit on the learning curve. can you share how to automate the si process?

[2017-12-21 12:27] laurencefass commented on #166
good idea to link this from ui_patterns repo?

[2017-12-21 12:53] latzt commented on #166
Yes it would be a good idea to have a link to the demo in README.md.

[2017-12-21 13:02] latzt commented on #165
Hi "laurencefass", when you install Drupal via the composer-template, cd into the new directory and execute: `drush si --db-url=mysql://root:@localhost/ui-patterns-demo`. For me, the switch from Drupal 7 to 8 was also hard in the beginning, be brave! Also take a look at the [docs](https://www.drupal.org/docs/develop/using-composer/using-composer-to-manage-drupal-site-dependencies) which explain ve

[2017-12-21 14:57] laurencefass commented on #166
tim i've installed the demo and i have a weird landing page with no way to login and no access to /patterns, /admin etc. so close... help appreciated....

all the text on the screen (no login)

[code]

[2017-12-21 15:07] laurencefass commented on #166
seeing the same problem with the bootstrap ui project. following the installation exactly. same landing page.

[2017-12-21 16:18] latzt commented on #166
Hi, i can help you out. The author of the demo has not provided any login credentials. But there is a way to generate a one-time login link with drush. Just cd into the directory and execute `drush uli` which yields something like: `http://default/user/reset/1/1513872759/ONplimnNzy-OTjadaPyhgxALv9j5gv4qc21Id9Qjqx08U/login`

Now you have to copy&paste the part after `http://default` and enter into

[2017-12-21 18:24] laurencefass commented on #166
great! thanks Tim.

[2017-12-30 14:48] ademarco commented on #165
The module can indeed installed both via composer or via drush dl. If composer is the chosen way then it's advisable to manage the whole Drupal installation codebase via composer, as @timtox pointed out.

Good luck @laurencefass !

[2017-12-30 14:48] #165 closed, assigned to nobody

[2017-12-30 14:49] ademarco commented on #166
Thanks for assisting @timtox ! I'll close the issue as it seems resolved.

[2017-12-30 14:49] #166 closed, assigned to nobody

[2017-12-30 14:54] ademarco commented on #164
The `preview:` attribute is meant to be a render-able entity, i.e. either a simple string (in which case it will be printed as is) or a render array, which will be rendered via Drupal 8 theme layer. If we will ever expand the usage of the `type` attribute it will be to improve mapping capabilities and not for previewing.

Thanks anyway for proposing the change! Closing as won't fix.

[2017-12-30 14:54] #164 closed, assigned to nobody

[2017-12-30 14:57] ademarco commented on #161
Where is the `header` pattern declared exactly?

[2017-12-30 15:02] ademarco commented on #153
Thanks for this proposal, while it could be useful in some cases I'd rather have such functionality being provided as a contributed module. Feel free to give it a try and I'll be happy to fix possible core limitations that would prevent that from working.

[2017-12-30 15:02] #153 closed, assigned to nobody

[2017-12-30 15:07] ademarco commented on #154
Thanks for reporting, could you please test it with UI Patterns latest dev and see if the issue persists? Thanks!

[2017-12-30 15:11] ademarco commented on #158
Thanks for helping with this @timtox ! Indeed that's the correct way to extend a library defined along with a pattern as the UI Patterns module exposes patterns as `ui_patterns/PATTERN_ID.LIBRARY_NAME`. [Check the documentation here](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html#expose-pattern-assets-as-libraries) to learn more about how libraries are handled.

[2017-12-30 15:11] #158 closed, assigned to nobody

[2017-12-30 15:16] ademarco commented on #148
Thanks for following up @damienmckenna ! @joshuaboltzmc does [this Features patch](https://www.drupal.org/project/features/issues/2924625#comment-12359831) solve the issue for you?

[2017-12-30 15:18] ademarco commented on #162
Can you show me how you map that field in the pattern settings? i.e. can you paste here the full modal window that you get when clicking on "Settings" in "Pattern | Settings"?

[2018-01-05 16:13] laurencefass opened #167 "pattern-media.html.twig not found?"
Im getting a Twig error for a missing twig file. the git repo doesnt contain this file. please can you advise where to find this file if i need it.

Type | php
-- | --
Friday, January 5, 2018 - 15:58
admin
http://www.patterns.vs/patterns
 
Twig_Error_Loader:  Template  "modules/contrib/ui_patterns/templates/pattern-media.html.twig" is not  defined (Drupal\Core\Template\Loader\ThemeRegistryLoader:

[2018-01-17 13:31] askibinski commented on #150
We are currently setting up a project with ui_patterns and patternlab, using a custom deriver plugin and loading all templates from patternlab. I'm planning on writing a blog post, probably next month, but in our case it boils down to:

1. Use the Drupal edition of Patternlab
2. Use the twig namespace plugin in Patternlab
For 1 & 2 see https://drupal-pattern-lab.github.io

3. In drupal use the com

[2018-01-18 15:58] damienmckenna commented on #104
Has anyone confirmed that the contextual menus work correctly now?

[2018-01-18 16:28] tanc commented on #104
Apologies, I never got to test properly as a project using UI Patterns finished and another one hasn't started yet. I should be able to test on a new project soon

[2018-01-19 11:27] cristinallamas opened #168 "Unable to detect my components when in folders"
If I place my components in folders inside a custom module the module is unable to find them. Is there a way to help it discover them? I don't want to place them in
modules/custom/my_components/templates/pattern-[component-name].html.twig but on subfolders, I'm pointing to them in a component-library in my info.yml file. but I can't find documentation of how to do this. I can write some documentat

[2018-01-19 12:06] cristinallamas commented on #168
I'll provide a bit of extra info

my_module.info.yml
[code]
cta.ui_patterns.yml
[code]

File structure
[code]

[2018-01-19 12:16] cristinallamas commented on #168
Moving         use: "@my_components_library/cta/cta.html.twig" outside Libraries

[code]
Made the error dissapear, but now my Pattern library (/patterns) is empty :(

[2018-01-24 21:57] slucero commented on #161
In this case the `header` pattern was being defined within the active theme. We were able to sidestep the issue by enabling DS and using that to manage the layout discovery and assignment instead.

[2018-01-25 19:35] ademarco commented on #161
Interesting, so it happens when using `field_layout`, I'll try to reproduce, thanks!

[2018-01-25 19:55] joshuaboltzmc commented on #123
FYI - since you'll probably hit these when installing layout_plugin_views (since it depends on layout_plugin), here is a layout_plugin patch:
https://www.drupal.org/project/layout_plugin/issues/2871585

`Error: Cannot use object of type Drupal\Core\Layout\LayoutDefinition as array in Drupal\layout_plugin\Plugin\Layout\LayoutPluginManager->getThemeImplementations() (line 162 of modules/contrib/layo

[2018-01-25 20:02] ademarco opened #169 "Integrate OpenEuropa Task Runner"
I'll integrate the [OpenEuropa Task Runner](https://github.com/ec-europa/oe-task-runner) project which will help setting up development environment and continuous integration.

[2018-01-26 10:57] #169 closed, assigned to ademarco

[2018-01-29 17:56] anton-staroverov commented on #123
Would be great to have deeper support/control for Views:

1. Select component to render whole View (say, Accordion for list of nodes).
2. Define mapping on per-item basis (say, node title goes to Accordion pane header and node description goes to Accordion pane body).

This would require additional metadata in pattern definition (Accordion have panes, each pane have header and body) - kind of subs

[2018-02-02 13:39] laurencefass opened #171 "angular 2+ components"
would it be possible to use ui patterns to deliver standalone angular 2+ components as patterns. if i can attach javascript libs so should be possible in practice? any ideas and insights you can share would be great! thanks

[2018-02-02 17:17] cristinallamas commented on #118
I've ended up here after looking for ways to add variants to integrate with patternlab way of adding variants. I've seen the pull request and I was wondering what is the state of this

[2018-02-05 14:07] laurisigaunis opened #172 "Error using ui_patterns with `Author summary` field"
I get this error using ui_patterns with `Author summary` field within field grouping.
[code]
Using latest dev of `ui_patterns` and 8.4.4 . Previously was using some old commit (`7e3b06bebb4e69dfd878ec28506ff04af1b6e53e`), maybe I missed something to change to make it work?

[2018-02-06 16:28] anton-staroverov commented on #13
One more case - to use in pair with https://www.drupal.org/project/block_field.

It will allow to reference explicit components, say, in Paragraphs.

[2018-02-09 23:38] cfbauer opened #173 "support request: pattern as paragraphs pattern as layout"
Hello, I'm trying to use my patterns with paragraphs. The documentation says:

I can't find where these settings are. I've enabled the UI Patterns Layouts module of course and am using the UI Patterns Library for testing. I tried looking in the edit paragraph type section (admin/structure/paragraphs_type/my_paragraph) but I can't find what's shown in the screenshot.

Can someone point me to what I

[2018-02-12 08:43] laurisigaunis commented on #172
It seams that some logic in `findEntity()` is missing to pass object directly and not trying to look into object as array.
Could the solution be just to add

[code]
right after `foreach ($fields as $field){` ?
So it will pass object directly if it is ContentEntityBase.

[2018-02-15 17:18] dubcanada commented on #173
Do you have display suite enabled? Layouts requires display suite (or the core layout module but that's experimental atm) to be enabled to setup properly.

[2018-02-15 19:54] cfbauer commented on #173
Yep, that was the issue, I didn't know that was a requirement. Thanks!

[2018-02-21 17:48] #173 closed, assigned to nobody

[2018-02-23 16:55] laurencefass opened #174 "inline entity references and list fields."
does ui_patterns implement anything for displaying embedded entity references and multi-field list? i.e. is there a way of writing a YML pattern specification to express "this is an entity reference, or a list, or a list of entity references..."

thanks

[2018-03-01 12:33] laurencefass opened #175 "card demo example: The "image" plugin does not exist."
I've done a copy/paste import of the card pattern and twig file from the ui-patterns-demo drupal installation.

this one....
[code]
and the corresponding pattern-card.twig.html here

https://github.com/nuvoleweb/ui-patterns-demo/blob/master/web/themes/custom/demo_theme/templates/patterns/pattern-card.html.twig

the /patterns page fails with error log:

[2018-03-04 15:18] idflood commented on #168
I'm not sure if this is exactly the same issue but my components where not discovered until I enabled the `UI Patterns Library` submodule.

edit: Well, it is probably not the solution. This worked for one site but I have another drupal with the same base and this is not enough to have my pattern listed in the available field "layouts". They are visible in the `/patterns` page but not as a select o

[2018-03-06 14:52] laurencefass opened #176 "composite patterns"
whats your opinion (or plans?) on supporting  composite patterns. is this possible already? thanks.

[2018-03-06 16:09] laurencefass opened #177 "cant find "modules/contrib/bootstrap_patterns/templates/*.twig.html""
testing on drupal 8.4.5
``
I have imported the bootstrap ui patterns repo from here

and modified it a bit to work as a module:

folder structure exactly the same as repo

[code]

when i goto mysite/patterns i get white screen of death error and following log message

[code]

ui_patterns is not traversing the deeper  directory structure to find the file at templates/patterns as it stops at templat

[2018-03-06 17:05] laurencefass opened #178 "ui patterns test submodule reports: The "modal" plugin does not exist."
im running drupal 8.4.5

I've enabled the ui patterns hidden test module

site/patterns works as expected.
site/patterns-test is broken.

browser output

The website encountered an unexpected error. Please try again later.

watchdog log

[code]

[2018-03-06 17:17] laurencefass opened #179 "drupal 8.4.5 views not working correctly"
i'm have enabled the ui_patterns_test module which contains various patterns and a pattern-media.html.twig buried fairly deep in its directory structure. actually its here:

modules/contrib/ui_patterns/modules/ui_patterns_test/ui_patterns_test_theme/templates/patterns/media

this pattern is picked up by site/patterns and also as a views format. i have set up a view with media fields (body, title,

[2018-03-12 14:28] aleksip commented on #121
A big +1 for this. UI Patterns and <a href="https://www.drupal.org/project/ds_chains">Display Suite Chained Fields</a> would make a great combo for site builders, reducing the need for custom preprocess code.

[2018-03-19 14:14] DuaelFr opened #181 "Allow patterns without fields"
Patterns are a great way to package markup, CSS and JS together. While using it for big bunch of markup with a lot of variables, I'd like to also be able to use it to manage some atoms like a really simple static button. I could use another method but I like consistency and it seem to me totally legit to use a Pattern to do that. The thing is that it's not allowed to create a pattern without any f

[2018-03-22 06:25] idflood commented on #168
So on the second site it appears that uninstalling and re-enabling the ui patterns modules and submodules finally fixed the issue. There might have an issue when I first enabled the modules (maybe a required module not available) but it was still enabled.

[2018-03-26 18:46] pookmish commented on #162
I had the same issue. My work around, i aded the same field and configured to display only 1 item and rewrite display to be the label text. Then put that view field into the same pattern field as the results field output.

[2018-03-26 22:08] pookmish commented on #162
my workaround was ok. but i opened a PR to change the field output to be a render array that works better for the field labels. https://github.com/nuvoleweb/ui_patterns/pull/182

[2018-04-18 11:16] tanc opened #184 "Problem when embedding view using views_embed_view"
When using `views_embed_view` the view is loaded in 'preview' mode (`$view->preview = TRUE`) and when UI Patterns preprocesses that view it checks `$view->preview` and bails.

One thing becomes present when the view is embedded is a key `#embed` on the `$view->elements` array. We can check for the existence of the `#embed` key and together with `$view->preview` determine whether we are being embed

[2018-04-18 12:00] tanc commented on #184
Pull request: #185

[2018-04-20 16:38] ademarco commented on #154
I can actually reproduce the error.

[2018-04-20 17:26] #154 closed, assigned to nobody

[2018-04-20 17:26] ademarco commented on #154
This is now fixed, thanks for reporting!

[2018-04-20 17:34] jordanpagewhite commented on #154
Awesome! Thank you. I'm sorry I didn't have time to contribute much beyond reporting the issue. My work moved my attention elsewhere. I am glad you were able to resolve the error. I have really enjoyed UI Patterns thus far, and I appreciate all the hard work and time you have invested in it.

[2018-04-20 17:43] ademarco commented on #177
`bootstrap_patterns` is a theme, not a module, try placing it in the themes directory.

[2018-04-20 17:43] #177 closed, assigned to nobody

[2018-04-20 17:45] ademarco commented on #176
What do you mean exactly by composite patterns? Could you please explain?

[2018-04-20 17:47] ademarco commented on #178
You would need to enable the `ui_patterns_test_theme` theme too, where that pattern is defined.

[2018-04-20 17:47] #178 closed, assigned to nobody

[2018-04-20 17:50] ademarco commented on #175
Please do not blindly copy/paste definition, but [carefully check the documentation](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html) about how to define new patterns, this is a basic functionality that is documented and covered by automated tests.

[2018-04-20 17:50] #175 closed, assigned to nobody

[2018-04-20 17:52] ademarco commented on #167
Please check the documentation on how to [expose pattern definitions](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html).

[2018-04-20 17:52] #167 closed, assigned to nobody

[2018-04-20 17:56] ademarco commented on #174
Pattern definitions should not be aware of where or how they are used, the information whereas they are used on an entity reference or somewhere else does not belong there.

What you describe seems to be an advanced customization which is generally achievable via preprocessing. Check [Working with pattern suggestions](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.htm

[2018-04-20 17:56] #174 closed, assigned to nobody

[2018-04-20 17:57] ademarco commented on #179
You need to enable the `ui_patterns_test_theme` theme and set it as default too in order to have the media pattern being correctly picked up.

[2018-04-20 17:57] #179 closed, assigned to nobody

[2018-04-20 18:00] ademarco commented on #172
I'm not able to reproduce, could you please post here the exact steps that lead to the error?

[2018-04-20 18:03] ademarco commented on #171
I guess that would be possible by indeed attaching JS and CSS libraries to pattern definitions, check [Expose pattern assets as libraries](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html) more information.

[2018-04-20 18:03] #171 closed, assigned to nobody

[2018-04-20 18:06] ademarco commented on #184
Thanks for this @tanc ! Merged and closed.

[2018-04-20 18:06] #184 closed, assigned to nobody

[2018-04-20 18:16] ademarco commented on #181
@DuaelFr something like that?

[2018-04-20 18:31] #181 closed, assigned to nobody

[2018-04-21 15:41] ademarco commented on #157
Thank you for reporting this, what are the steps to get to the missing schema error?

[2018-04-21 15:42] ademarco commented on #152
Do you still have experience the problem or we can close this issue?

[2018-04-21 16:05] ademarco commented on #150
Thank you for this @askibinski ! Did you find the time to work on the blog post at the end? If you did I'd like to add it to the project page under "Resources".

[2018-04-21 16:06] ademarco commented on #141
I'll close this issue since it seems that latest dev works as expected. Please feel free to reopen it if the problem persists.

[2018-04-21 16:06] #141 closed, assigned to nobody

[2018-04-22 07:15] ademarco commented on #140
Closing for inactivity.

[2018-04-22 07:15] #140 closed, assigned to nobody

[2018-04-23 08:22] gambry commented on #157
1. enable ui_patterns_ds.
2. Select a pattern as layout to (view) display a content type.
3. Select a pattern as a field template for one of the fields.
4. Save the view mode.

The error can be seen with config_inspector module in the core.entity_view_display config entity we've just saved, which is probably the quickest way to debug and fix.

I personally noticed the error on a couple of function

[2018-04-23 09:25] laurencefass commented on #176
patterns composed of other patterns. Could either be embedded or via reference.

[2018-04-23 14:38] ademarco commented on #176
I think you can achieve it by [using pre-processing](http://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#working-with-pattern-suggestions) but I really have too few details to provide a more complete answer.

I'll close the issue, feel free to re-open it if you have the time to provide more details.

[2018-04-23 14:38] #176 closed, assigned to nobody

[2018-04-23 14:41] ademarco commented on #157
Thank you for offering to help with this @gambry! We should provide a schema indeed, it was something I was always planning to add, so a PR would be very welcome!

[2018-04-23 20:10] pdureau commented on #150
Hi,

My ui_patterns + fractal integration works quite well: https://github.com/pdureau/ui_patterns_fractal

The main things missing IMO are:
* The Drupal Attribute objects integration in Fractal. There is no https://github.com/aleksip/plugin-data-transform for Fractal.
* In Fractal too, the ability to inject sub components from the description file (like the way we do in Drupal  when we nest rende

[2018-04-25 19:51] ademarco commented on #150
Wow! Nice work @pdureau, I'm gonna add it on the module's page. Just a question: are you gonna move it under https://www.drupal.org/project/ui_patterns_fractal ?

[2018-04-25 21:44] pdureau commented on #150
Hi @ademarco,

https://www.drupal.org/project/ui_patterns_fractal is owned by @tonystar

I have already told Anton about my humble work: https://www.drupal.org/project/ui_patterns_fractal/issues/2947904 . But he is a busy man.

https://www.drupal.org/project/ui_patterns is such a mind-blowing piece of architecture. I haven't been that impressed by a front-end Drupal module since my discovery of ht

[2018-04-26 12:47] backlineint commented on #150
Wow - that Fractal integration is impressive.  Would it be cool if I took a shot at porting something similar to work with Pattern Lab? Based on the excellent example from @pdureau I think I could pull it off and have some time this week.

[2018-04-26 13:08] pdureau commented on #150
I have already started a Pattern Lab integration, but I don't know how to keep the assets (CSS, JS) in the same folder as the Twig and the description file.

In Fractal, it was a simple tweak inside the components/_preview.twig file.

[2018-04-26 14:41] backlineint commented on #150
@pdureau yeah, I think Fractal handles that a little better than Pattern Lab. If you are keeping your assets in the same folder as your pattern you have to manually add links to them in the shared pattern header and footer.  The css in source/_meta/_00-head.twig and the js in source/_meta/01-foot.twig. Not ideal.

Is your Pattern Lab integration available on github somewhere?  I'd be interested in

[2018-04-26 15:20] capriosa opened #188 "Update to D 8.5.3 and latest dev beta Version of ui-patterns"
After these 2 updates I've get this error:

[2018-04-26 18:06] pdureau commented on #150
It was just a unversioned dumb conversion from ui_patterns_fractal. No big deal. I didn't get it working because I was struggling with the assets management in Pattern Lab side.

Anyway, I would be very interested about such an integration because Pattern Lab has https://github.com/aleksip/plugin-data-transform and I am sure I am not the only one.

About the combination of a config option and a cu

[2018-04-27 08:09] ademarco commented on #150
You guys are finally making those dashed lines on UI Patterns module pic whole again! Thank you so much for that! :grinning:

![](https://i.imgur.com/hEaScTa.png)

[2018-04-30 19:25] tanc commented on #104
Finally got round to testing this and its looking good. With this patch the contextual links are showing for node based patterns. I wasn't getting contextual links for views based patterns.

[2018-05-01 10:55] johnreytanquinco opened #189 "UI patterns errors"
**I am trying to export a feature module of Custom post type using OpenSocial profile.**

![screenshot from 2018-05-01 18-49-13](https://user-images.githubusercontent.com/7284893/39470462-75cdc3c4-4d70-11e8-93ef-bf01e0a364aa.png)

**But getting this message below in the access logs after enabling the feature. Site is also unaccessible.**

`web_1       | [Tue May 01 10:39:40.268131 2018] [:error] [

[2018-05-02 10:17] anton-staroverov commented on #150
@pdureau first of all, thanks a lot for your efforts! I shared an access to project page and code to you: https://www.drupal.org/project/ui_patterns_fractal! Feel free to push the code and update description!

I will be back to you once we switch several client projects to UI Patterns + Fractal. Busy, but quite lot of lessons learned!

[2018-05-02 14:36] backlineint commented on #150
Have a first pass at a Pattern Lab version here: https://github.com/backlineint/ui_patterns_pattern_lab  Works for simple cases. Currently working on better support for twig namespaces and also better traversal of subdirectories. Should be to spend some more time on it later in the week.

[2018-05-03 09:05] ademarco commented on #188
I can't replicate, it works well locally and on TravisCI, do you still have the problem? Did it happen when upgrading an existing site to 8.5.3 or on a fresh installation? Maybe we cannot replicate because we run it on a new install.

[2018-05-03 10:04] pdureau commented on #150
@tonystar Thanks Anton. I have squashed my master branch into a new 8.x-1.x branch and pushed it.

@backlineint Great! I am very interested about how you will manage the PatternLabDeriver::getLibraries method. I will have a look on your module next days.

[2018-05-03 10:22] capriosa commented on #188
It only happens when upgrading an existing site to 8.5.3.

2018-05-03 11:05 GMT+02:00 Antonio De Marco <notifications@github.com>:

--
Viele Grüße
Meinolf Droste

*mdwp* - Digital Consulting & Services <http://facebook.com/mdwp.de/>*
Acquia Partner <http://acquia.com/partners/showcase/mdwp>

Hügelstr. 6a
58099 Hagen

Tel.:    02331 62 85 27 3
Mobil: 0151 241 262 32
--------------------------------

[2018-05-03 10:39] aleksip commented on #188
I'm using 1.0-rc1 and have upgraded to 8.5.3 without any issues. So this could have something to do with the changes in the dev version.

[2018-05-10 17:38] isramv commented on #188
I have the same error on brand new install 8.5.3 using "drupal/ui_patterns": "1.0-beta7", using display_suite

[2018-05-11 14:04] pdureau opened #190 "Inject arbitrary values in Pattern fields"
Hi,

While working on an [UI Patterns integration as a Field Formatter](https://github.com/pdureau/ui_patterns_field_formatters), I have created a new Source Plugin to extract data from field properties.

To make this work useful enough, we also need to be able to inject in the pattern some values set directly in the field formatter.

For example, the value set for the "icon attributes" destinatio

[2018-05-13 08:58] ademarco commented on #188
@isramv do you still get the error with rc1 or latest dev?

[2018-05-15 08:46] DuaelFr commented on #181
Hi! I'm so sorry I didn't answer in about a month. It's perfect, thanks a lot :)

[2018-05-19 15:09] backlineint opened #191 "Support Formatting in Pattern Descriptions on Pattern Library Page"
When the [UI Patterns Pattern Lab](https://www.drupal.org/project/ui_patterns_pattern_lab) module discovers patterns from a Pattern Lab instance it will attempt to parse data from pattern markdown files to determine the label (title in the markdown frontmatter) and description (the body of the markdown file) for a pattern. While implementing this I noticed that the description on the pattern libra

[2018-05-22 09:13] raphaellarrinaga opened #192 "Use a Display Suite block field as a UI Patterns Field Group item"
I have a quite specific situation where I

- created a block (provided by a custom module)
- defined that block as Display Suite block field (`/admin/structure/ds/fields`)
- used that field as a UI Patterns Field Group item

But that field does not appear in the field group Source fields.

See
<img width="1121" alt="capture d ecran 2018-05-22 11 10 10" src="https://user-images.githubusercontent.co

[2018-05-22 16:56] raphaellarrinaga commented on #192
This is probably related https://github.com/nuvoleweb/ui_patterns/issues/121

[2018-05-25 10:13] DuaelFr commented on #168
I had some issues too then I found out that the naming of the patterns was important.
As you can see on the above screenshot, I was able to organize my folder with subfolders. The key seem to be that the pattern directory must be named with alphanum chars and underscores only. The pattern definition file should be named as the folder then the template file should use dashes instead of underscores.

[2018-05-25 10:23] DuaelFr opened #193 "Patterns variables consistency"
Now that we can map multiple sources to the same pattern field, it leads to some inconsistencies while looking at the received values.

* When there is only one source, the pattern variable contains the render array of the source.
* When there are more than one source, the variable contains a custom render array with a `#sources` key containing each render arrays and a `#context` key that contains

[2018-05-28 15:50] DuaelFr opened #194 "Patterns used as layouts should be able to contain Field Groups"
`\Drupal\field_layout\FieldLayoutBuilder::buildView()` only handle fields and extra fields so when you use a pattern as an entity layout, the field groups you have are ignored.

[2018-06-08 15:35] mottihoresh opened #195 "Patterns are not working from views"
I am seeing the following error when trying to render a pattern from within a view:

`TypeError: Argument 1 passed to Drupal\ui_patterns_views\Plugin\views\row\Pattern::isFieldVisible() must be an instance of Drupal\views\Plugin\views\field\FieldPluginBase, null given, called in /var/www/docroot/modules/contrib/ui_patterns/modules/ui_patterns_views/ui_patterns_views.module on line 42 in Drupal\ui_

[2018-06-08 15:53] hctom opened #196 "Make missing pattern fail not that hard ;)"
I just experienced a really odd issue with the ui_patterns module:

We created a pattern definition in our theme and used that in a custom module for rendering a block. Now I wanted to switch the theme and the pattern definition is obviously missing, which results in a PHP fatal error saying:

[code]

Wouldn't it be better to just render the missing pattern empty or just some "Pattern missing" mar

[2018-06-10 19:40] ademarco commented on #196
Yep we can have a lighter approach to missing patterns :) feel free to provide an alternative, thanks!

[2018-06-11 09:25] hctom commented on #196
Please review the pull request. Currently it just outputs some "Pattern not found: PATTERN_ID" placeholder text. Perhaps the output should be suppressed at all and a log entry should be written instead (or just diplay a notice about a missing pattern in the status messages)? I'm not really sure about this.

[2018-06-29 11:05] hctom commented on #196
Any news on this? ;) I know the PR is failing with Scrutinizer for these commits, but I can't identify what is the actual problem. I'd appreciate if a maintainer (perhaps @ademarco) can take a look at it?

[2018-07-03 14:00] richardcanoe opened #198 "Group annotation is missing"
Unit\AbstractUiPatternsTest and Kernel\AbstractUiPatternsTest are missing the @group annotation which causes a simpletest exception to be thrown.

Drupal\simpletest\Exception\MissingGroupException: Missing @group annotation in Drupal\Tests\ui_patterns\Unit\AbstractUiPatternsTest in Drupal\simpletest\TestDiscovery::getTestInfo() (line 360 of /core/modules/simpletest/src/TestDiscovery.php).

[2018-07-22 21:49] ghost commented on #195
biatch

[2018-07-23 13:57] JPustkuchen commented on #161
Yes I can confirm this happens when using field_layout. We're NOT using ds and definitely don't want to use it.

[2018-07-24 15:04] AndyIRC opened #200 "Development status"
Hi,

I've watched some presentations about this module and am thinking of making it a core part of my project. I cannot get a good sense, though, if this is still under active development or whether the main developer has moved on. I usually look at D.O. and gauge by the number of installs, but perhaps that is not a fair approach for this module.

Thanks,
Andy

[2018-08-08 12:56] DuaelFr commented on #198
See #199

[2018-08-08 13:00] Artusamak commented on #44
This is definitely interesting and expected. I hope that you can get some time to work on this. :)

[2018-08-09 15:28] Artusamak commented on #108
I tested the PR and can confirm that the extrafields become available and are shown correctly in the output.

[2018-08-09 20:46] Artusamak commented on #194
The PR #202 is now functional, tests and feedbacks are welcome.

[2018-08-10 14:55] DuaelFr opened #203 "Use Drupal's theme keys inheritance"
Long story short.
`\Drupal\ui_patterns\Definition\PatternDefinition::PATTERN_PREFIX` should be "pattern__" instead of "pattern_" to allow to make leverage of the theme keys inheritance.
It would allow to use a theme_preprocess_pattern that would apply on all patterns.

If you don't want people to change their template names to "pattern--my-pattern.html.twig" you can still force the template name i

[2018-08-10 15:12] Artusamak commented on #200
I'm following the discussion, i'm interested by the answer based on the potential of this module. :)

[2018-08-10 16:59] AndyIRC commented on #200
i've been using it these past few weeks and i am finding it to be excellent. we are using PatternLab and we are going for the approach of making PatternLab the boss (i.e. no Drupal fingerprints in our PatternLab twig files). Using Patterns UI has made it pretty reasonable doing the mapping from Drupal to the PatternLab twig templates. I've not found any bugs that would prevent us using this.

[2018-08-14 01:17] AndyIRC opened #205 "Colon in source id causes a bug"
Hi. I am trying to use a custom Display Suite field with U Patterns. I think most stuff I can work around with hooks, but there seems to be a bug in PatternDisplayFormTrait. There is an 'explode' call that breaks the source of the plugin away from the plugin provider, but I believe it assumes that there will only be a single colon delimiter in the key. With custom Display Suite fields an extra col

[2018-08-14 04:49] ademarco commented on #200
Hello everyone! Yes the development has stopped for a while but the project is far from being abandoned. As a matter of fact we use it on all our projects at Nuvole and it is used as a core dependency at the European Commission project I'm personally working for, for more info about that check [here](https://github.com/openeuropa/oe_theme/blob/master/composer.json#L11).

[2018-08-14 04:49] #200 closed, assigned to nobody

[2018-08-14 04:53] ademarco commented on #196
Yes, maybe better to have an error message printed out and logged instead of printing the missing pattern text since that will be cached in the page cache.

[2018-08-14 08:30] Artusamak commented on #200
Good to know, thank you for the feedback. :+1:

[2018-08-20 19:02] justkristin opened #207 "Cannot seem to get the gear icon to offer the selections needed..."
All -

Sorry, I am a bit remedial, but we have been trying to get UI Patterns to work with Paragraphs on our server. My coworker has this site running on MAMP on his desktop, but even though we have verified that all the modules are installed and activated identically between his desktop and our server, we do not get the choices we need via the gear icon on the entity display setting page. This lo

[2018-08-21 17:48] justkristin commented on #207
We got the answer! Thanks, Mario!

Now we just have to figure out why a url field works in one yaml and not another...

[2018-08-26 19:14] ademarco commented on #188
Any feedback on this one? Do you still experience the issue?

[2018-08-26 19:15] ademarco commented on #198
Merged, thanks!

[2018-08-26 19:15] #198 closed, assigned to nobody

[2018-08-26 19:17] ademarco commented on #205
Merged, thanks!

[2018-08-26 19:17] #205 closed, assigned to nobody

[2018-08-31 15:58] MXTcomunica opened #211 "Allow to manage layouts at field level without Display Suite dependency"
It would be possible to make ui_patterns working at field level (I mean: to manage the layout at field level through the gear for every single field) without the need to install Display Suite?

In this case it would be possible to use only Drupal _field_layout_ core module as a Display Suite alternative.

Thank you!

[2018-09-12 10:00] hctom commented on #196
Sorry for no progress on this for a long time - at DrupalEurope I now finally had the time to implement your feedback:

* No placeholder is rendered anymore, the `Pattern::processRenderArray()` method returns an empty render array instead, if a pattern is not found
* Log messages are created for missing patterns
* However, I decided to not show a status message on the corresponding pages having mi

[2018-10-11 11:50] hctom commented on #196
HI @ademarco, did you already find the time to look into this? I guess it would be cool to get this done, so others may also benefit from this as soon as possible.

[2018-10-11 14:29] nplowman commented on #190
This is a feature I would be really interested as well. Not having the ability to do this is actually a fairly big barrier to adoption of UI Patterns for me and my team - since we have a need to do this pretty regularly.

[2018-10-16 18:08] ademarco commented on #211
This was dealt with in #118 UI Patterns is compatible with both Display Suite and Field Layout.

[2018-10-16 18:08] #211 closed, assigned to nobody

[2018-10-16 18:15] #118 closed, assigned to ademarco

[2018-10-17 05:05] ademarco commented on #190
This is really interesting, to do so we would need to have a field source plugin widget and process it at submission, it's quite a challenge but it should be doable in a non BC breaking fashion.

[2018-10-27 10:41] laurencefass opened #221 "complex composition and pattern reuse with pattern type=external"
Hi
i am watching this: https://www.youtube.com/watch?v=bKD7QZVq9SM&fbclid=IwAR0mEO-YlL9pGlQRkTMjdjxmyWebiDs4eLeGeSK-cZarBWOllsIXodufDho

@34 mins: Have an "external" setting for a pattern would greatly ease complex composition and pattern reuse. i.e. replace all id and fields with a reference to an injected pattern source. Using dependency injection patterns I think it could happen automatically?

[2018-10-29 13:16] christianwiedemann opened #222 "Pattern configuration"
As discussed with @ademarco, to start a discussion about the best way to configure patterns with ui_patterns we should collect samples to get a better overview of all requirements.

I start with a simple headline component and hope other samples will follow

**The screen:**
![headline tape](https://user-images.githubusercontent.com/393489/47651067-70d46800-db82-11e8-8751-ab5fa6257664.png)

**The m

[2018-10-29 14:12] laurencefass opened #223 "component html syntax breaking basic html"
ive just written my first pattern (very simple to prove to myself it works) and the pattern appears to be breaking html. either a critical error or im making a basic mistake in using the module:

mymodule.ui_patterns.yml...

[code]

pattern.custompattern.html.twig:

[code]

/css/custompattern.css

[code]

[2018-10-29 14:15] laurencefass commented on #223
![ui patterns error](https://user-images.githubusercontent.com/3512857/47655515-112b8c00-db85-11e8-98c9-b107acc8f516.png)

[2018-10-29 14:18] laurencefass commented on #223
It appears that the components are not being correctly handled.

i changed my custom component to be the name of the class, and modified the css accordingly and things style as expected. im going to proceed using in this manner, though i dont think this is whats intended.

pattern-custompattern.html.twig...

[code]

custompattern.css

[code]

[2018-10-29 15:27] laurencefass opened #224 "map yml 'collections' to drupal collections (field and entityreference lists)"
How do we define a slide and a collection of slides and map it to a drupal collection (field list or entityreference list?

I have a content type with a single body field array i wish to map to a collection in mymodule.ui-patterns.yml using the carousel from the bootstrap patterns theme github example. the preview content is rendered correctly at /patterns, but  i'm having difficulties mapping lis

[2018-10-30 07:20] laurencefass commented on #224
is there a recommended solution to use this as it is? i.e. could i use ui pattern field layout integration to map two text fields (title, subtitle) and an image in a Slides region and this will just work? Is that what the module expects? thanks.

[2018-10-30 08:03] christianwiedemann commented on #224
Hi @laurencefass you need two patterns. One slider and one slider item.
Lets assume you have two media media bundles. Gallery and image. And Gallery has an entity reference field to the images.

**The pattern for the gallery would look like:**
[code]

**For the image bundle:**
[code]
And of course you need two entries in your uipatterns.yml

[2018-10-30 09:01] laurencefass opened #225 "can i inject classes from the drupal field ui into ui_pattern twig templates?"
i want to set up a class field to inject a set of classes into a twig element.

is it possible? whats the recommended way of doing it in ui_patterns?

[2018-10-30 12:01] laurencefass commented on #224
thanks for your reply. please can you show what the pattern yaml for the above looks like to save potential hours of tweaking. specifically: how do i reference the collection item (slide) in the carousel in yaml?

even better is there a working example somewhere on github? is this in your documentation? i dont think i came across it. would be great for an update to ease adoption.

thanks again.

[2018-10-30 15:45] christianwiedemann commented on #224
you have also two ui_pattern.yml

[code]
[code]
Do you use dispaly suite? If not maybe thats the easiest thing. Install ds and
just add the first pattern to gallery content type and the second pattern to item media type.

[2018-10-30 16:21] laurencefass commented on #224
thank you very much for your help.

[2018-10-30 16:21] #224 closed, assigned to nobody

[2018-11-03 23:35] mlncn opened #226 "Allow an editor to select pattern variants per piece of content"
Is there any (recommended) way to allow selecting variants per piece of content, while editing that content?

For example, i have a layout tile pattern with variants for color or location of elements (purple vs marine, or image first vs title first).

When editing an entity (say a node) using the layout pattern, is there, can there be, a standard way for the editor to set the variant?

I thought U

[2018-11-05 15:09] ademarco commented on #226
We have actually added variants to UI Patterns to cover exactly this use case! The recommended way is to set it in a preprocess, like `'#variant' => $entity->get("field_foo")->value` or something. Check the documentation [here](https://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#working-with-pattern-suggestions).

[2018-11-05 16:42] mlncn commented on #226
@ademarco thank you!  Yes-- the question is... is there any recommended, experimental, or *any* suggested editor-facing *user interface* for choosing the variant?

Motivation: Getting configuration out of content (`field_color` or `field_position`) and into some parallel universe that is more cleanly separating content from display.

[2018-11-10 19:07] ademarco opened #229 "Remove Behat tests in favor of Drupal tests"
It's time to say goodbye to Behat tests and related testing/demo/showcase code that bloat the module. The scope of this issue is to:

- Migrate all Behat tests to Unit/Kernel/Functional tests
- Remove Behat tests
- Remove test/demo module and theme
- Update documentation

[2018-11-11 23:27] #229 closed, assigned to ademarco

[2018-11-13 21:43] jigarius commented on #54
A suggestion. Can the plugin expose a setting named: *Preview theme*? Most of the sites have one theme for visitors. If that theme can be used to render previews, the module will become even more useful and practical.

[2018-11-13 22:29] jigarius opened #231 "Not working with views placed in "no results behavior""
# The problem

* Create a views block / embed which uses patterns to display views rows
* Create another view; in this view, display the view created above in the "no results behavior"
* Trigger the no results behavior for the 2nd view in the site's front-end (not the views preview)

**Observation:** The no results area doesn't display correctly. It shows "Patterns does not support views preview".

[2018-11-14 09:25] sunerphey opened #232 "The layouts module is generating inconsistent output"
Other modules like ui_patterns_(views|fieldgroup|ds) are setting "#multiple_sources" to TRUE in the render array, while the layouts module does not. In the same time having multiple entity fields pointing to a single pattern field is a valid and well used option. Having different render array gives the potential of errors in the implementation of the patterns as the developer may have assumptions

[2018-11-14 09:47] sunerphey commented on #232
### Reproduction
- Create pattern with field which may be provided with array value
- In the pattern template try to iterate and render its items

- Use it with ui_patterns_layout module by selecting an entity display mode to use this pattern and provide multiple entity fields in the region which represents this pattern field. This shall work fine and the entity will be displayed with this pattern

[2018-11-15 20:19] aleksip opened #233 "Add documentation about reserved words in pattern definitions"
Not 100 % sure but I don't think the documentation mentions anything about reserved words in pattern definitions?

[code]

It would be good to document them as the resulting error message is a bit cryptic.

[2018-11-18 09:30] ademarco commented on #193
Would it work by forcing field input to be always an array, even when pattern field has only one source? This seems also related to #232, would you agree with that?

[2018-11-18 09:35] ademarco commented on #232
@sunerphey I'm noticing some similarities with what was reported in #193, would you agree that the two issues are related? We could maybe remove `#multiple_sources` all together by forcing a pattern field to become an array of render arrays, even if one render array is passed to it. This might have backward compatibility implications  though.

[2018-11-18 09:49] ademarco commented on #232
Or rather, we make layout behave like the other 3 modules, meaning we force there too for `#multiple_sources` to be `TRUE`. The thing is: we cannot assume anything about the data structure that will end up in a field, if could be an array of arrays for all we know, and be still a "single values".

The only way to differentiate this is for the calling context to know if what is passing to the field

[2018-11-18 09:52] ademarco commented on #193
@DuaelFr I'm closing this one in favor of #232, let's continue the discussion there.

[2018-11-18 09:52] #193 closed, assigned to nobody

[2018-11-18 09:57] ademarco commented on #203
This has quite some implications, also related to work that @aleksip is doing on derivatives. I considered doing this at the beginning but then I realized that each pattern is really a different theme function, just prefixed by `pattern_` for namespacing sake.

We can still add a global `HOOK_preprocess_pattern()` preprocess by using theme suggestions.

[2018-11-18 10:00] ademarco commented on #232
Reminder to self: write extensive documentation about `#multiple_sources` after we solve this.

[2018-11-19 09:54] sunerphey commented on #232
I am not fully convinced that there shall be no predictability about the data type, as I think having an iterable parameter to a pattern makes sense, while having a drupal renderable array is not so useful, especially if we want to have the patterns more portable. But this is a discussion about the necessity of the multiple_sources feature while we already have it and I guess it won't be a safe th

[2018-11-19 10:07] DuaelFr commented on #232
I'm all for consistency.
I'd love to always have #sources and #context even when there is only one value. I'm not sure about the usefulness of the #multiple_sources key in this case but I don't have every use case in mind.

In a perfect world, I'd love that:
1. calling `{{ my_field }}` would output the values rendered by the basic multiple sources template (with more suggestions from the #context

[2018-11-19 10:17] DuaelFr commented on #203
I'm not sure that it is going to have the same result.
I can't find the time right now to make some tests but it could really be interesting because I believe that when using `pattern__foo` theme key, both `hook_preprocess_pattern` and `hook_preprocess_pattern__foo` are called, unlike when using template suggestions.

Do you know if I'm right or would you have some time to try this out?

[2018-11-25 00:15] jesconstantine commented on #121
I noticed that a custom ds token field was also not recognized as a pattern source field - would this issue address that functionality as well?

[2018-11-25 18:41] jigarius opened #235 "Document how to specify fields required by items in a collection"
## The problem

* I have a pattern named `tabs` which requires a variable `items` of type `collection`
* Each tab must have a `title` and a `body`

How do I define that each item is expected to have a title and a body?

[2018-11-26 15:11] jesconstantine commented on #121
I answered my own question by testing out #136 - I see my ds token field as a source field when I configure a pattern field group -- thanks!

![image](https://user-images.githubusercontent.com/3279883/49023330-00ab0900-f165-11e8-88ac-3e5be1dab3f3.png)

I don't see the value coming through in the template yet, though.  Got this PHP Notice:
[code]

[2018-12-11 10:14] laurencefass opened #236 "webform integration"
Can I control the layout of webforms (i.e. contrib webforms not core contact form) with the UI_patterns  module? thanks.

[2018-12-12 23:42] justkristin opened #237 "Problem with Views Filters?"
On this page:
https://freddie-zoo.pantheonsite.io/node/265
We have added filters (grossly unstyled - my apologies). Before any of the filters are used, the view items show up as completely as they currently are. However, the moment a filter is applied, the number of items shows up correctly, but they each show up, not as the item, but as this text:
"Pattern Views row plugin does not support previe

[2018-12-17 14:49] damienmckenna opened #238 "Add layout settings option to control the variant selection"
After pattern variants were added in #118 there's a discrepancy between what the patterns system allows versus what the UI provides. The core layout system provides an option for layouts to have a settings function, maybe this would be a good way of providing a way for the variants to be selected?

[2018-12-17 14:53] damienmckenna commented on #226
I opened #238 which would help, it'd at least let you e.g. set up different view modes (or Panelizer / Layout Builder displays) and then use another module to change between them.

[2018-12-17 15:23] damienmckenna commented on #238
Ok, it seems this is already possible, never mind X-)

[2018-12-17 15:23] #238 closed, assigned to nobody

[2018-12-17 15:25] damienmckenna commented on #226
Never mind, it's already possible to select the variant from the "pattern settings" tab.

@mlncn: I would recommend you come up with another way of handling this instead of requiring UI Patterns to handle it. Maybe something like https://www.drupal.org/project/layout_library?

[2019-01-20 22:44] mikemccaffrey opened #239 "Patterns not displayed in AJAX views"
When I enable "Use AJAX" on a view that is rendering rows using patterns, I get the message "Pattern Views row plugin does not support preview" whenever the filters are changed and the view refreshes.

It looks like that error was added in this issue to keep errors from displaying on views previews:
https://github.com/nuvoleweb/ui_patterns/issues/54

However, it looks like the error is also being

[2019-01-21 00:03] mikemccaffrey commented on #239
Hmm... after digging into things a bit, it seems like the preview flag might just be set for all views ajax requests, and the problem is not in this module. Weird.

Perhaps there is an alternate way to identify whether the view is being displayed in the admin theme, and is therefore unable to access the patterns from the front-end theme?

[2019-01-21 00:08] mikemccaffrey commented on #54
I created #239 because the error message introduced in this ticket was not only showing up in Views previews, but also anytime one of my views is updated using an AJAX request.

It seems like the preview flag might always be set when returning view results using AJAX, so we might want to find another way to detect if they are a preview in the admin theme, or an update to a view in the front-end th

[2019-01-24 17:26] laurencefass commented on #175
I am trying again with this module ive checked the documentation and it doesnt say a lot about images.

i am again trying to create a basic card with an image and i am seeing the following error:

[code]

and watchdog message:

[code]

[2019-01-24 17:28] laurencefass opened #240 "the image plugin does not exist."
original issue: https://github.com/nuvoleweb/ui_patterns/issues/175

I raised issue nearly a year ago with error on images. the reply suggested i read the documentation which is not helpful in this case. i have only installed and tried to use the module and made no code modifications. The documentation and it doesnt say a lot about images or plugins.

i am again trying to create a basic card (see

[2019-01-24 17:44] laurencefass commented on #240
ui_patterns.yml looks like this:
[code]

[2019-01-24 17:45] laurencefass commented on #240
pattern-slidecard.html.twig like this:

title = {{ title }}
text = {{ text }}
position = {{ position }}
image = {{ image }}

[2019-01-24 18:59] laurencefass opened #241 "Define HTML element classes with pattern fields."
I want to use drupal fields to define class names in ui_patterns. i.e. define a field in a pattern twig.html file and use its {{ twig variable }} as a class name. The following doesn't work. Is there a correct way of doing this? even possible?

{%
  set classes = [
    'class_name_1',
    'class_name_2',
    {{ ui_pattern_field_name }},
  ]
%}
<div{{ attributes.addClass(classes) }}></div>

[2019-01-25 23:04] laurencefass commented on #241
actual example i've mapped a string select box to

yaml pattern field:
...
**pattern_field**:
      type: 'text'
      label: 'Entry position'
      description: 'Set overlay entrance position (top, bottom, left, right, fade)'
      preview: 'entry-right'

html.twig file:
{% set classes= ['custom_class', **pattern_field**] %}
<div {{ attributes.addClass(classes) }}>

results:
{{ pattern_field }} o

[2019-01-31 20:01] laurencefass commented on #241
discovered this is a more general question about drupal and twig.

[2019-01-31 20:01] #241 closed, assigned to nobody

[2019-01-31 20:04] laurencefass opened #242 "can i used yml pattern fields in js library files?"
i can access fields in html.twig files. can i do the same from js files? do i need to pass variables to Drupal object or is that already done for all fields by module?

[2019-02-04 21:25] Itshalffull commented on #240
Have you tried removing your single quotes?  AFAIK the 'type' is simply used for documentation right now, so it's probably to do with your yml structure. There's definitely no single quotes in any of the examples.

[2019-02-04 21:32] Itshalffull commented on #190
Another upvote for this feature.  Would be nice to be able to add fields to patterns, So we could have select lists, color picker, or any other type of drupal field with drupal's built in validation for that field type.  A few use cases are selecting from a few different classes that are a color, or a boolean that sets a "highlight" option.

Obviously this can be done with variants right now, but

[2019-02-05 11:35] gambry commented on #150
Worth posting in there the work I've done to improve PatternLab patterns loading, which is inspired by UI Patterns.
https://packagist.org/packages/gambry/pattern-twig-extension

Early stages, but it already works. So you can stop using `{% include %}` and have a smarter way to load patterns and their dependencies.

[2019-02-05 17:39] gambry opened #243 "Allow hyphen (-) on pattern id"
I'm experimenting with defining a consistent way of loading pattern across different platform. For this reason I've built [gambry/pattern-twig-extension](https://gitlab.com/gambry/pattern-twig-extension) which provide a `pattern()` twig function wrapping include + dispatching events developers can subscribe too.

This function is heavely influenced by UI Patterns, and for this reason you don't req

[2019-02-05 17:41] gambry commented on #243
Worth mentiong I've done some experiments locally and all works as expected. I haven't tested template suggestions yet, and I'll do soon and report back here.

I'll write some tests too to validate all works as expected, but in the meanwhile suggestions following other routes are more than accepted.

[2019-02-06 14:56] backlineint commented on #191
Thanks to a contribution from @gambry UI Patterns Pattern Lab can now parse markdown in pattern descriptions which is rendered correctly on the patterns page. I'm not sure the issue here was ever on the UI Patterns side. Closing the issue.

[2019-02-06 14:56] #191 closed, assigned to nobody

[2019-02-12 11:06] Itshalffull opened #245 "The current proper way to nest patterns?"
Hey there,

I'm having trouble finding the proper syntax for nesting patterns, both in an actual drupal website using for instance nested paragraphs, as well as how to show nested patterns in a preview.

I see different syntaxes in:
- This presentation: https://www.drupalgovcon.org/sites/default/files/session/slides/2018-05/component_theming_ui_patterns.pdf

- This theme:  https://github.com/SU-SW

[2019-02-15 09:07] laurencefass commented on #245
subscribing.

[2019-02-21 01:35] damienmckenna opened #246 "Missing @group annotation in Drupal\Tests\ui_patterns_field_group\Unit\EntityFinderTest"
With the current codebase running against 8.7.x, this failure is noted when you try to run run-tests.sh:

`Drupal\simpletest\Exception\MissingGroupException: Missing @group annotation in Drupal\Tests\ui_patterns_field_group\Unit\EntityFinderTest in core/modules/simpletest/src/TestDiscovery.php:360
`

[2019-02-21 01:39] damienmckenna commented on #246
I created a PR to fix this: #247

[2019-02-21 15:18] GregVisible commented on #194
Hi,
Any update on this one and the linked PR #202 ?

[2019-03-01 17:48] pookmish opened #249 "Views Variant form only shows variant options for 1 pattern."
The variant form in the views UI only works when there is one pattern with a variant defined. The form field gets overridden with the last pattern that has variants. Change requested: https://github.com/nuvoleweb/ui_patterns/pull/248

[2019-03-04 06:17] christianwiedemann opened #250 "PatternDefinition:getVariant uses hasField instead of hasVariant"
PatternDefinition:getVariant uses hasField instead of hasVariant to check if a variant exists.

[2019-03-06 15:21] pdureau commented on #245
HI @Itshalffull

Here are real life examples of patterns nesting:
... in a pattern preview:
[code]

...in a render array:
[code]

Is it helping?

[2019-04-02 11:29] LOBsTerr opened #253 "Remove config_installer dependecy"
From 8.6 core version https://www.drupal.org/node/2897299
We can get rid of this dependency

[2019-04-09 14:11] jigarius opened #255 "What do "variants" do?"
I've been using UI Patterns for 3 projects now and I was wondering what "variants" actually do?

## My understanding

* They provide a way to override `twig` files.
* One cannot specify a `twig` file for a pattern, but one can create a `twig` file with a specific naming-convention to make UI Patterns discover it and use it.

## My expectation

* Variants provide a way to override the fields with w

[2019-04-09 14:21] jigarius commented on #245
* BTW, say, I have two patterns `hero` and `link`.
* In the `hero`, there are 4 fields: `image`, `links`, `link_url`, `link_label`
* In the `link`, there are 2 fields: `label`, `uri`
* The admin is allowed to pass either a list of rendered `links` to the `hero` or he can provide `link_url` and `link_text` separately
* Now, when the admin provides the `link_url` and `link_label` separately, I detec

[2019-04-09 14:26] jigarius opened #256 "Allow fields to have value limits"
## The problem

* Say, I have a pattern named `button`
* It has the fields `label` and `uri`
* Since a button can only have one `label`, it doesn't make sense for someone to assign 2 values to it

## Proposed solution

* In the field definition, introduce a property named `limit`
* When a `limit` is specified, send only the first `limit` items for rendering
** Alternatively, don't allow the site-b

[2019-04-09 14:44] jigarius opened #257 "Cannot use package-relative path in "use""
## The problem

* There is a theme named `oldie`
* I created a pattern in `oldie/patterns/atoms/button/button.ui_patterns.yml`
* In the definition, I tried putting these two, but they don't work:
  * `use: '@atoms/button/button.html.twig'` - this makes Drupal look for a template inside the `ui_patterns` module itself, I guess?
  * `use: '@oldie/patterns/button/button.html.twig'` - This didn't work

[2019-04-09 14:55] pdureau commented on #245
That's weird because:
- Thanks to Drupal\ui_patterns\Template\TwigExtension::renderPattern(), pattern() function return a render array based on \Drupal\ui_patterns\Element\Pattern
- The variables token {{ }} is able to manage render arrays in a Drupal context

What do you have in links?
[code]

Maybe, you will have to build the render array by yourself,  a bit like that:
[code]

[2019-04-09 14:58] jigarius commented on #245
Continuing with the use case I mentioned in my comment above, I am populating `link_uri` and `link_label` using the display suite module from the paragraph's _manage display_ page.

[2019-04-09 15:05] pdureau commented on #245
hi @jigarius  i have updated my last comment with a proposal based on a render array built directly from Twig

[2019-04-18 11:43] gugerard commented on #51
@tanc Do you have any example of a nested paragraphs using Field Group UI Pattern only (not display suite).
Typically the carousel with a paragraph for the Slider linked via entity reference with another for the Slider Items ?

[2019-05-01 19:19] jigarius opened #258 "Allow grouping UI Patterns for better organization"
On the pattern library page, all patterns appear as a flat list. It will be great if there was support for:

* `group:` A single value – name of the group to which the pattern belongs. Ex: atoms, molecules, etc. or Group A, Group B, etc.
* `tags:` Multiple values – tags for categorizing patterns. Ex: Card, Clickable, etc. This is not necessary as such, but this can open doors for other functionali

[2019-05-03 11:06] uipatternsissues opened #259 "Enable the module's drupal.org issue queue"
Hi,

I think it is important let the people choose. The official drupal issue queue can be enabled with a clear note that it is not attended by maintainers if you like. Someone else can co-maintain and attend such queue, and be maintainer by the drupal community as usual.

I personally have no account at github, in fact, I signed up just to write here. I felt forced to use this commercial service

[2019-05-07 19:51] jigarius commented on #255
I think I've figured out what they do. I've shared my findings on https://jigarius.com/blog/drupal-ui-patterns. From what I understand, they provide:

* An extra variable named `variant` in the TWIG template to allow the user to modify it accordingly.
* A template suggestion which lets the developer write a separate template for each variant.

[2019-05-07 19:51] #255 closed, assigned to nobody

[2019-05-07 19:54] jigarius opened #260 "Create a menu link to the "Pattern Library" page"
There is no way to know (from the UI) that there exists a pattern library page. It'll be good to have a link to it in the admin menu.

[2019-06-01 13:51] ademarco commented on #246
Merged, thanks!

[2019-06-01 13:51] #246 closed, assigned to nobody

[2019-06-01 13:58] ademarco commented on #242
No, I'm afraid you can't.

[2019-06-01 13:58] #242 closed, assigned to nobody

[2019-06-01 14:03] ademarco commented on #240
The indentation of your ui_patterns.yml file seems to suggest that you have two patterns: `slidecard` and `image`, do you have the related twig template for both of them?

[2019-06-01 14:41] #250 closed, assigned to nobody

[2019-06-01 14:53] ademarco commented on #253
We can't do that as UI Patterns demo site is installed using the standard profile, which implements a `hook_install()`, while the new functionality of installing from configuration introduced in 8.6 only works with profiles that do not implement `hook_install()`.

[2019-06-01 14:53] #253 closed, assigned to nobody

[2019-06-01 15:17] ademarco commented on #243
Merged, thanks!

[2019-06-01 15:17] #243 closed, assigned to nobody

[2019-06-01 15:23] ademarco commented on #257
Try moving your patterns under `oldie/templates`, meaning:
[code]
Then you should be able to reference it in your pattern as:
[code]
Feel free to close this issue if that works for you.

[2019-06-01 15:25] ademarco commented on #256
I see what you mean but we won't support such a complex use case, UI is meant to provide a shortcut over `hook_preprocess()`, it will always make such kind of assumptions.

[2019-06-01 15:25] #256 closed, assigned to nobody

[2019-06-01 15:25] jigarius commented on #257
I've removed the `use` key in the pattern definition in favor of using a `pattern-PATTERN-ID.html.twig` file instead.

[2019-06-01 15:25] #257 closed, assigned to nobody

[2019-06-01 16:48] ademarco commented on #260
That could be interesting indeed, free to propose a PR for that.

[2019-06-01 16:49] jigarius commented on #260
Cool! Please refer to [PR 261](https://github.com/nuvoleweb/ui_patterns/pull/261).

[2019-06-01 19:54] ademarco commented on #249
This [has been merged](https://github.com/nuvoleweb/ui_patterns/commit/4bc3a849fc93e6b1b576c7708e3ea28e336d0cf1) but, due to a rebase, it seems that GitHub did not close this PR

[2019-06-01 19:54] #249 closed, assigned to nobody

[2019-06-02 06:41] ademarco commented on #226
Thank you pointing out that module @damienmckenna , a similar approach is taken by https://www.drupal.org/project/paragraphs_viewmode when editing paragraphs.

[2019-06-02 06:41] #226 closed, assigned to nobody

[2019-06-02 06:44] ademarco commented on #225
You can always add a pattern field for that purpose only, even though the recommended approach would be to use variants and then delegate different classes to variant suggestions.

See: https://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html
You could also have a look at: https://www.drupal.org/project/ui_patterns_settings

[2019-06-02 06:44] #225 closed, assigned to nobody

[2019-06-02 06:45] ademarco commented on #222
A contrib module has been created instead, refer to https://www.drupal.org/project/ui_patterns_settings.

[2019-06-02 06:45] #222 closed, assigned to nobody

[2019-06-02 06:47] ademarco commented on #223
Glad you figured it out. :)

[2019-06-02 06:47] #223 closed, assigned to nobody

[2019-06-02 07:09] ademarco commented on #190
@pdureau would something like https://www.drupal.org/project/ui_patterns_settings help you with that?

In case it does feel free to close this issue. Thanks!

[2019-06-02 07:10] #188 closed, assigned to nobody

[2019-06-02 07:10] ademarco commented on #188
Closing as no feedback has been provided since quite a long time and Drupal core is now at its 8.7 version.

[2019-06-02 07:12] ademarco commented on #150
This can be closed as we do have now:

- https://www.drupal.org/project/ui_patterns_fractal
- https://www.drupal.org/project/ui_patterns_pattern_lab

[2019-06-02 07:12] #150 closed, assigned to nobody

[2019-06-02 07:13] ademarco commented on #44
See https://www.drupal.org/project/ui_patterns_settings

[2019-06-02 07:13] #44 closed, assigned to nobody

[2019-06-02 07:14] ademarco commented on #85
Still having this issue guys?

[2019-06-02 08:38] ademarco commented on #259
Thank you for posting this! I've given it a thought and decided that I'll disable the GitHub project completely once Drupal.org / GitLab integration will be completed.

[2019-06-02 08:38] #259 closed, assigned to nobody

[2019-06-18 11:28] laurencefass commented on #242
thanks. Is there a way to access Drupal's field values from withing Javascript?

[2019-06-18 11:28] laurencefass commented on #225
many thanks.

[2019-07-26 17:39] jigarius commented on #160
I am facing a similar issue.

* I have a base theme, say `theme_base` – Base theme with UI pattern named `hero`.
* I have a child theme, say `theme_child` – Child theme based on `theme_base`.
  * Automatically gets `hero` as defined in `theme_base`.
* However, now I want an extra field in the `hero` – so, I copy the `hero` directory from `theme_base` and put it in the `theme_child` and add the fie

[2019-07-26 19:39] jigarius commented on #160
I investigated the issue and ultimately it boiled down to something similar to PR 159. [My solution](https://github.com/nuvoleweb/ui_patterns/pull/266) ensures that the overrides get priority as follows (the one at the top gets least priority):

* modules
* base themes (in proper order)
* default theme

With this, one should be able to have some out-of-the-box patterns in a module or a base theme

[2019-08-04 01:01] mikemccaffrey opened #267 "Storing absolute base path breaks site on deploy"
We are experiencing a recurring problem where our site's ui patterns are broken after deploying new code to our live environment on pantheon. When someone visits the site after a release, the css files for the patterns cannot be loaded and it takes a series of cache clears before things return to normal.

After some digging, it appears that this is likely due to the fact that the ui_patterns modul

[2019-09-05 12:51] gambry opened #271 "Theme suggestions overriding patterns with hyphens in their ID are not loaded"
With #243 we allowed hyphens as pattern id. Although this work perfectly, we haven't fully tested overriding patterns template through theme suggestions.

And indeed if there is a hyphen in the pattern id, overrides are not loaded.

In order to reproduce:

1. Create a pattern with hyphens in is ID, i.e. `this-is-a-test`
2. In your active theme try to override that pattern, creating `pattern-this-i

[2019-09-05 12:52] gambry commented on #271
PR #270 addresses this issue.

[2019-09-07 09:58] laurencefass opened #272 "how to make compatible with react vue and angular?"
Up to now I've been working with primarily jquery to create components.

More recently I've been learning js frameworks and it seems that i have potential to use ui_patterns framework to deliver standalone components using leading JS frameworks. Are there any conflicts that will arise in doing so. Is ui_patterns configurable to avoid conflicts between the render formats of client and ui_patterns i

[2019-09-07 10:34] laurencefass commented on #272
I realise after submitted issue that i only need twig to render my js component in twig, pass in the params through the twig file, and hand everything over to js. issue closed i think. thanks

[2019-09-13 15:49] #272 closed, assigned to nobody

[2019-09-17 14:22] pdureau commented on #190
Thanks @ademarco . I will test this solution soon and close  the issue if OK

[2019-09-26 16:17] pdureau opened #274 "Allow for Layout Builder sections to be given administrative labels"
Drupal 8.8 will be released soon with an improvement about Layout Management which make the layout builder more usable : Allow for Layout Builder sections to be given administrative labels
https://www.drupal.org/node/3073872

However, this is not working with layouts generated by ui_patterns_layout because Drupal\ui_patterns_layouts\Plugin\Layout\PatternLayout::buildConfigurationForm() is ignoring

[2019-09-30 16:22] manuel-adan commented on #123
I wrote a custom views plugin style for that:

![imagen](https://user-images.githubusercontent.com/55993814/65897212-1570b280-e3af-11e9-8f36-254e688a0657.png)

The settings

![imagen](https://user-images.githubusercontent.com/55993814/65897257-2faa9080-e3af-11e9-91ec-486edcc06dde.png)

[2019-09-30 16:35] manuel-adan opened #275 "Form fields in patterns not processed by the Form API"
I tried to render a form with UI Patterns as follows:

[code]

The call-to-action pattern have three fields: title, lead, and action_link. The form has a text field that goes into the pattern lead, and the submit button into the action_link.

Form is rendered but the form fields are not processed by the Form API since the form fields themselves are children of '#fields', ( $form['content']['#field

[2019-09-30 18:04] manuel-adan commented on #275
Initial approach at pull request #276

[2019-11-20 16:59] DuaelFr opened #279 "Do not use fieldsets to preview patterns in Pattern Library"
## Problem

Using fieldsets for decoration purpose is a bad practice as it leads to invalid HTML and potential accessibility issues. In the pattern library case, it's also annoying because the fieldset's default styles prevent an appropriate preview for most high level patterns.

## Solution

Do not use fieldsets to wrap patterns previews. Use a simple div and a header instead.

[2019-11-20 17:02] DuaelFr opened #280 "Allow per pattern preview styling"
## Problem

When previewing our patterns, we sometime need to style their wrapper so they look more like they will in their final context (eg. some pattern that is going to be in an area that have a max width).

## Solution

It would be interesting to add the pattern ID to the preview wrapper (eg. `pattern-preview__preview--my-pattern` or `pattern-preview--my-pattern__preview`) so we could apply s

[2019-11-20 17:09] DuaelFr commented on #258
I like this feature! We could split it in two parts as the `group` part seem quite easy to implement (it could work like module's packages)

[2019-11-20 18:32] jigarius commented on #260
Any luck with this one? It's been a while.

[2019-11-20 18:33] jigarius commented on #160
Any luck with this one? I've used this on 3-4 prod projects. It'll be good if you could review and merge it.

[2019-11-26 06:35] ignovski opened #281 "Override pattern definitions"
Hi, I am trying to override the pattern options in the views edit form on D8.
In order to do this, I have to override the class of the Pattern plugin:
`
$plugins['ui_patterns']['class'] = 'Drupal\\custom_module\\Plugin\\views\\row\\Pattern';
`
And then override the Form Trait in the Pattern class.

Since the getDefinitions() method is cached by the PatternManager, any altering hook to change the o

[2019-12-09 21:14] pdureau commented on #274
Drupal 8.8 is out now.

[2019-12-12 09:56] pvbergen opened #285 "Pattern translation"
## Background / Motivation
We've been using the ui_patterns module as a base for patterns for our pagedesigner module (drupal.org/project/pagedesigner).
We're currently dealing with displaying pattern information in a localized form, e.g. passing label and description through the interface translation of Drupal.
We are a bit stuck on finding the right approach. As far as I can tell, the ui_pattern

[2019-12-20 12:46] pvbergen commented on #285
We have discussed the issue internally and we decided to use the global po file (per theme/module).

We collect all necessary patterns within a theme during preprocessing and then add the necessary translations to the theme's po file. This includes some amount of extra preprocessing but doesn't necessitate any changes to the translation system of Drupal.

I close the issue for now, but if there ar

[2019-12-20 12:46] #285 closed, assigned to nobody

[2020-02-03 18:24] pdureau opened #287 "Integrate field_formatters entity_links & layout_builder sub-modules"
Hi,

I am the author of those 2 modules related to ui_patterns:
- https://github.com/pdureau/ui_patterns_field_formatters (3 contributors, already used in some projects)
- https://github.com/pdureau/ui_patterns_entity_links (newer and used in at least one project)

And I am ready to publish them to drupal.org. However, instead of specific d.o project, it maybe better to have them bundled inside ht

[2020-02-04 15:10] manuel-adan commented on #287
It could be interesting to add the [UI Patterns Settings](https://www.drupal.org/project/ui_patterns_settings/) to the main UI Patterns package as well.

[2020-03-08 09:01] pdureau commented on #287
A new module proposal: https://github.com/pdureau/ui_patterns_views_style

This one can extend the already existing[ ui_patterns_views](https://github.com/nuvoleweb/ui_patterns/tree/8.x-1.x/modules/ui_patterns_views) sub-module.

The ui_patterns ecosystem is growing fast, it would be great to keep it focused.

[2020-03-18 08:33] pdureau commented on #287
Without news from ui_patterns team, I have published them a independent projects on d.o:
- https://www.drupal.org/project/ui_patterns_views_style
- https://www.drupal.org/project/ui_patterns_entity_links
- https://www.drupal.org/project/ui_patterns_field_formatters

[2020-03-25 17:03] icobg123 commented on #51
Looking for an example on how to nest patterns with paragraphs that can have multiple values.
E.g a card paragraph that's nested in a deck paragraph - how can use the values of each card as variables in the deck twig template? thx!

[2020-04-01 16:05] icobg123 opened #290 "Nested Paragraphs"
Looking for an example on how to nest patterns with paragraphs that can have multiple values.
E.g a card paragraph that's nested in a deck paragraph - how can I access the values of each paragraph card as variables in the deck twig template? thx!

[2020-04-18 09:55] pdureau opened #291 "Drupal 9 compatibility"
Hi all,

Drupal 9 is coming in 2 months. According to drupal-check, there are 7 compatibility issues with ui_patterns project (autoloading issues removed):

- modules/ui_patterns_library/tests/src/FunctionalJavascript/UiPatternsLibraryOverviewTest.php | 31 | Call to deprecated method setDefault() of class Drupal\Core\Extension\ThemeHandler. Deprecated in drupal:8.2.0 and is removed from drupal:9.0

[2020-05-25 19:14] paulmoloneyuk commented on #291
I've tried to make a start on this - do we know the status of the maintenance team for this module? My team would love to help get this D9 ready!

[2020-06-04 09:14] ademarco commented on #291
Hello everyone, @yenyasinn will take care of it! :+1:

[2020-06-04 09:48] pdureau commented on #291
great ! thanks @yenyasinn

[2020-06-18 15:09] #291 closed, assigned to yenyasinn

[2020-06-18 15:09] yenyasinn commented on #291
https://www.drupal.org/project/ui_patterns/releases/8.x-1.2 has been released.

[2020-06-23 14:18] gambry commented on #291
The changes on `src/Plugin/Deriver/AbstractYamlPatternsDeriver.php` have probably broken any site using any module or theme **without** a `templates/` folder.

In fact [the deprecation change record suggestion](https://www.drupal.org/node/3038437) has not been correctly followed as `is_dir()` should be run before scanning the directory for fully compatibility.

I will file a PR to fix this.

[2020-06-24 07:45] gambry opened #293 "NotRegularDirectoryException thrown while scanning for Yaml Patterns Deriver"
The work #291 wrongly updated the deprecated `file_scan_directory($directory)` to simply `Drupal::service('file_system')->scanDirectory($directory)`. According to the [change record](https://www.drupal.org/node/3038437) the code should have been:
[code]

Because of that `AbstractYamlPatternsDeriver::fileScanDirectory()` expects for every module and theme to have a `templates/` directory which if m

[2020-07-22 20:49] nedjo opened #296 "Integration with Component Schema?"
The [Component Schema](https://www.drupal.org/project/component_schema) module parallels some of what's in UI Patterns. Are there opportunities to integrate with UI Patterns?

Modelled on core's configuration schema API, Component Schema offers a fairly large set of data types and supports features like multiple values, nested variables, and components embedded in another component. Building on co

[2020-07-25 01:15] kenrbnsn opened #297 "Problems doing a new install on a generic Drupal 8.9.2 installation"
I spun up a new Drupal 8.9.2 site to test out ui_patterns and ui_patterns_pattern_lab.

When I do
`$ composer require drupal/ui_patterns drupal/ui_patterns_pattern_lab`
I first got this error:
`Not scaffolding files for drupal/ui_patterns, because it is not listed in the element 'extra.drupal-scaffold.allowed-packages' in the root-level composer.json file.`
So I put it in that section. Now, I'm ge

[2020-07-30 17:08] vever001 opened #298 "Incorrect "path" in hook_theme definitions when the theme that contains patterns is not active"
If we are on the admin theme, and we have pattern definitions inside another theme  (e.g: your main theme), then the `path` in `hook_theme()` definitions are not correct.
This is because `LibraryPattern::processCustomThemeHookProperty` only takes into account modules.

[code]

This breaks for example the preview when we are in the Views admin and other patterns usages when the active theme is not

[2020-07-31 16:24] yenyasinn commented on #293
`expects for every module and theme to have a templates/ directory`.
It is incorrect. AbstractYamlPatternsDeriver::fileScanDirectory() scans all folders in themes and modules provided by LibraryDeriver::getDirectories(). It doesn't matter is there `template` folder or not.

`The work #291 wrongly updated the deprecated file_scan_directory($directory)`.
If by some occasion module directory isn't a

[2020-08-03 06:14] gambry commented on #293
@yenyasinn I don't get your comment. My point was the change was done incorrectly, as previously file_scan_dirctory() was checking internally for the existence of the directory and if it exists then proceeding with the scan.
The changed code wrongly assumed the existence was still covered by the new service, while it wasn't.

Thanks for the fix.

[2020-08-03 21:24] backlineint commented on #293
[A similar issue](https://www.drupal.org/project/ui_patterns_pattern_lab/issues/3160747#comment-13774649) was reported against UI Patterns Pattern Lab, which I believe would be resolved by this fix.

[2020-08-31 07:07] ademarco commented on #293
PR merged, thank you everyone!

[2020-08-31 07:07] #293 closed, assigned to nobody

[2020-09-03 12:55] msnassar opened #304 "Unable to detect a pattern from default theme having same id as the pattern in the base theme"
Steps to reproduce:
Create a pattern in your base theme.
Copy the previously created pattern to your sub theme (default theme).
ui patterns library detects the pattern defined in your base theme instead of the one in the default theme.

I think a pattern defined in the default theme (having same id as a pattern in the base theme) should be the one detected. As it overrides the pattern in the base

[2020-09-04 14:02] vever001 commented on #304
+1 on this!

By looking at the code, it looks like this behavior was done on purpose.
Not sure if that's the case or why this would be desirable.
So unless there is a strong reason not to, IMO the sub-themes should be able to easily override any pattern from the base theme.
In other words, respect the usual flow of overrides: modules, base themes, sub-themes.

And the logic could be simplified to:

[2020-09-10 23:15] donquixote opened #306 "Advanced field type schema"
## Quick summary
Define how a structured field type can be defined in a *.ui_patterns.yml file, so that other modules can use this information.

## Background
When defining a pattern in a `*.ui_patterns.yml` file, there is an entry `'fields'`, where in each field there is an entry `'type'`.

[In the docs](https://ui-patterns.readthedocs.io/en/8.x-1.x/content/patterns-definition.html#pattern-defini

[2020-09-25 04:10] WidgetsBurritos opened #308 "Doesn't work with multi-theme sites"
**Problem Statement:**
Our website uses the context module to use multiple themes depending on various criteria (such as content type). When used in combination with the component_blocks + ui_patterns modules, we never see any component blocks in the toolbar, unless they're associated with the default theme. The reason for this is [this block of code](https://github.com/nuvoleweb/ui_patterns/blob/

[2020-09-25 04:22] WidgetsBurritos commented on #308
Oh also, FWIW we can't just look at the active theme instead of the default theme either.  I tested swapping `$this->themeHandler->getDefault();` with `\Drupal::service('theme.manager')->getActiveTheme()->getName();`, but when used with layout builder it seemed to be grabbing the admin theme, not the theme of the current page.

[2020-09-29 16:06] golddragon007 opened #311 "Notice: Undefined index: #entity_type in ui_patterns_layouts_entity_view_alter()"
If a UI pattern is being used on a media entity, the following notice will be displayed:
Notice: Undefined index: #entity_type in ui_patterns_layouts_entity_view_alter() (line 65 of /modules/contrib/ui_patterns/modules/ui_patterns_layouts/ui_patterns_layouts.module)

Occurred in the following case:
- custom display
- media was placed inside a paragraph

[2020-10-05 00:13] nedjo commented on #296
A bit more detail...

The best way to get a feel for how Component Schema works is through the [components that ship with the Bulma Components module](https://git.drupalcode.org/project/bulma_components/-/tree/1.0.x/components), which is built using Component Schema. See for example [variables for the button component](https://git.drupalcode.org/project/bulma_components/-/blob/1.0.x/components/ele

[2020-10-05 00:17] nedjo commented on #306
The [Component Schema](https://www.drupal.org/project/component_schema) project is an option here; see #296. It's based on core's configuration schema API, itself modeled on [Kwalify](http://www.kuwata-lab.com/kwalify). I've just updated #296 with further details on how Component Schema works.

If there's interest I'd be happy to contribute to integrating Component Schema and UI Patterns.

[2020-10-05 00:57] donquixote commented on #306
@nedjo Interesting!

I am looking at the schema here:
https://git.drupalcode.org/project/bulma_components/-/blob/1.0.x/components/columns/columns.variables.yml

One thing I notice is that fields/variables that expect html or render element are just marked as "string". I would prefer if there was a dedicated type for html.
Or perhaps even more, to distinguish different types of strings:
- block-lev

[2020-10-05 02:33] nedjo commented on #306
Yes. So far, the custom schema types are mainly focused on the task of processing values to reduce the need for logic at the template level. For example, there's a `component_string` type that supports three keys beyond the standard set for schema variables:

* `provides_class`. This allows for example a `size` variable to provide a class like `is-small` that will be added to an `Attribute` object

[2020-10-05 15:38] donquixote commented on #306
Thanks @nedjo !

Ok, seems like something we could figure out and improve over time.

I could be mistaken, but I think one difference is that every ui pattern is registered as a theme hook, whereas components are just templates. So it might be a good idea to only declare ui patterns that actually need to be ui patterns, and leave the rest as pure components, so not to pollute the theme registry. I

[2020-10-05 15:43] donquixote commented on #306
I am interested in this for multiple reasons:

- We are developing a base theme that should declare some ui patterns, but the question of ui patterns vs components does come up e.g. when comparing this to [Radix](https://www.drupal.org/project/radix).
- I would like to improve the plugins that integrate UI patterns into Drupal subsystems, if I get the time, or if someone else is going to do it.
-

[2020-10-05 16:25] donquixote commented on #196
Thoughts about UX of showing vs not showing an error/placeholder for the component:
https://ux.stackexchange.com/questions/15168/how-do-i-inform-the-user-a-component-has-stopped-working/15176#15176

I think the main distinction is whether or not visitors may expect the element that is broken, or whether it is essential for functionality.
If an essential or expected element is simply not shown, a u

[2020-10-05 16:49] donquixote commented on #304
I made an interesting observation:
Without the patch, the yml definition from the base theme is used, but the template from the sub-theme.
The reason is that each pattern is also a theme hook, and the sub-theme template overrides the base theme template via the theme system.

With the patch, both the yml definition and the template from the sub-theme are used.

After removing the yml in the sub-th

[2020-10-05 16:53] donquixote commented on #304
## Module-provided patterns vs theme-provided patterns
The solution proposed here fixes the order of base theme vs sub-theme.
However, what about module-provided patterns? Should they be overridden by theme-provided patterns?
For the template this should already work through the theme layer, but for the yml definition it won't, because module directories are added last.

## Pattern inheritance com

[2020-10-05 17:07] donquixote commented on #306
So I would clearly be interested :)
But the first step should be to define the desired behavior and how this would be used.

[2020-10-06 02:59] nedjo commented on #306
I suspect you're right.

Correct. Before starting work I evaluated UI Patterns as a potential base but wasn't able to work with its limited `fields` definition. I've deliberately left that out so Component Schema could be focused just on schema functionality and be complimentary to UI Patterns (or other similar efforts).

That sounds doable. It might open the option of doing integration in a separ

[2020-10-06 03:48] nedjo commented on #306
These couple of Drupal core issues (both long since stalled out) are related:

* [Enhance config schema for richer default experiences](https://www.drupal.org/project/drupal/issues/2949888)
* [Allow discovery of configuration UI](https://www.drupal.org/project/drupal/issues/2677124)

[2020-10-06 09:59] donquixote commented on #306
I imagine something different: Instead of producing a form for an arbitrary pattern, we would filter patterns that match a given schema requirement. E.g.
- to display a list of field items, we look for patterns with a "sequence" field, where each sequence item is html / render element. the same patterns could also be used as views style plugins, or for any other place where we display a list of el

[2020-10-06 23:18] nedjo commented on #306
Wow, I like this idea.

The most straightforward way to integrate may be to start in Component Schema. I've opened an issue there and tried to sketch in some potential steps: [[meta] Integrate with UI Patterns module](https://www.drupal.org/project/component_schema/issues/3175327). I probably haven't quite captured everything you were suggesting. Please wade in and clarify.

At least tangentially

[2020-10-06 23:51] donquixote commented on #306
I already commented in the linked issue.
A "container for content" should be the simplest thing ever: A component that receives a single variable with type = html.
Where this html is coming from should not be the responsibility of the component, but of the calling template or some adapter layer that can handle render elements.

[2020-10-08 18:00] GiorgosK opened #312 "context variable in hook_preprocess_pattern_PATTERN_NAME proper ?"
when inspecting variables in a pattern preprocess the context key `context` is holding an object of type `Drupal\ui_patterns\Element\PatternContext` which might go against [this change record](https://www.drupal.org/node/2971707)

This does destroy any context one might try to set on any parent preprocessors.

Even if I try to use the ui_patterns context and do something like this

[code]
`variabl

[2020-11-21 21:42] nedjo commented on #296
Did integration via a sub-module in the Component Schema module, see [[meta] Integrate with UI Patterns module](https://www.drupal.org/project/component_schema/issues/3175327) and sub-issues.

[2020-11-21 21:42] #296 closed, assigned to nobody

[2020-11-21 21:45] nedjo commented on #306
Basic integration of Component Schema and UI Patterns is largely complete, see  [[meta] Integrate with UI Patterns module](https://www.drupal.org/project/component_schema/issues/3175327). While that doesn't in itself accomplish everything discussed in this issue, it does open up new possibilities.

[2020-11-22 23:19] nedjo opened #313 "Layout definitions from patterns lack id property"
## Bug description

Layouts are defined for patterns in the UI Patterns Layouts submodule's `hook_layout_alter()` implementation.

The `$definition` passed to `LayoutDefinition` constructor lacks an `id` property. Because of this, the resulting definition has an empty `id`. What is expected instead is that the `id` will be the same as the key used when creating the layout, which is in the form `'p

[2020-11-26 09:22] miloskroulik commented on #245
This works fine, however, the preview of the inner pattern doesn't work - is it supposed to be working? Or do I have to use something like
[code]
in the inner pattern?

[2020-11-28 18:50] GiorgosK opened #315 "node_title not appear as source in field mappings (tested with field_group)"
When adding title to under a field group pattern title does not appear as source in the list of sources to be mapped to a destination pattern.  When using https://www.drupal.org/project/title_field_for_manage_display then we can use title as source.

Is there anyway to support title field natively without extra contrib module ?

[2020-12-08 01:48] nedjo opened #316 "Cannot include two pattern select elements on same page"
## Bug description

In `Drupal\ui_patterns\Form\PatternDisplayFormTrait::buildPatternDisplayForm()` we explicitly assign an 'id' attribute to the `$form['pattern']` select element as follows:

[code]
and subsequently attach #states behaviours using this same hard-coded 'patterns-select' ID:

[code]

This means placing more than one pattern select on a given form leads to invalid HTML and broken #s

[2020-12-09 12:31] kp77 commented on #304
I'd like to add to this problem that I also had errors during site install with existing config, when using patterns in layout builder, because during install the default theme is stark.

@vever001 's suggestion would also fix that problem, so I created a follow up PR that uses that method: #318

[2020-12-10 20:43] OProf77 commented on #306
I don't know if this is the place to ask. I don't know how to check the contents of a variable in my pattern file.

I think that's the discussion, right?

[2020-12-17 00:24] nedjo opened #320 "Improve normalizing of UI Patterns submitted configuration"
In `PatternDisplayFormTrait:processFormStateValues()` the submitted values from a UI Patterns configuration form are normalized before being saved.

There are a couple of places where edge cases lead to cruft being saved.

First, the `$settings['variants']` key is unset only conditionally, that is, in the case that there's a selected variant:

[code]

The result is that, when the current pattern d

[2021-01-12 07:11] elNico opened #321 ""Content only" option for ui_patterns_field_group?"
Hi, I briefly tested the ui_patterns_ds sub module, but I'd rather not use DS only for the purpose of mapping fields to UI patterns and field group module is already being used in the site. I did really like the "content only" option to avoid having all the standard field markup from Drupal in the otherwise clean pattern output, though.

I was hoping there was a similar option in the field group v

[2021-01-18 10:32] pdureau commented on #315
hi @GiorgosK  I am not sure title_field_for_manage_display module has a clean implementation.

It would be better to allow the display of title (label) base field, instead of creating a new field, like manage_display does: https://git.drupalcode.org/project/manage_display/-/blob/8.x-1.x/manage_display.module

[2021-02-10 20:59] greenSkin commented on #104
The fix from [104-contextual-links](https://github.com/nuvoleweb/ui_patterns/tree/104-contextual-links) doesn't appear to fix the issue of my layout pattern showing its contextual links.

[2021-02-19 16:26] minorOffense opened #322 "Add the ability to load a "README.md" for each defined pattern"
We're working on a site where there are two groups responsible for managing the style guide and pattern library within an organization. One group manages the markup, accessibility and look of the components. The other is responsible for defining the guidelines and use cases for each pattern.

Right now both would be editing the same yml file to add a rather verbose description and it conflicts som

[2021-02-22 01:17] backlineint commented on #322
@minorOffense the [UI Patterns Pattern Lab module](https://www.drupal.org/project/ui_patterns_pattern_lab) happens to do this for Markdown files - https://www.drupal.org/docs/8/modules/ui-patterns-pattern-lab/requirements-for-automatic-discovery Even if the module doesn't fit your use case, [how it handles markdown documentation](https://git.drupalcode.org/project/ui_patterns_pattern_lab/-/blob/8.

[2021-03-09 12:28] kvantstudio opened #324 "The logic of the module does not correspond to SMACSS"
All components have the CSS_AGGREGATE_DEFAULT group, and must have CSS_AGGREGATE_THEME. The CSS files of the components are loaded before the CSS files of the theme. This is a big mistake! So far, the solution to the problem is the following. Now i use hook_css_alter

[code]

[2021-04-15 15:36] sssduong opened #325 "Warning: Invalid argument supplied for foreach() in template_preprocess_pattern_views_row"

[2021-04-15 15:36] #325 closed, assigned to nobody

[2021-04-15 15:37] sssduong commented on #325
Oops. Was doing a search and accidentally opened an issue.

[2021-04-28 09:55] steveoriol opened #326 "Complement of documentation"
Hello, I would like to find the list of all the types of fields that we can use in the xxxx.ui_patterns.yml file, with a small example for the ones they are more complex.
I think, about how to use a pattern inside an other pattern...
Merci,

[2021-05-18 19:44] donquixote commented on #298
There is something else going on here.
[code]
The `str_replace()` produces a path with leading slash.
E.g.
[code]
(I assume it is normal that `$root` won't have a trailing slash)
I wonder why this is not more wildly occuring.

@vever001 From looking at the code, I don't think your PR would fix this..

[2021-05-18 20:42] donquixote opened #328 "Leading slash in theme paths"
See my comment in https://github.com/nuvoleweb/ui_patterns/issues/298#issuecomment-843501000.

I defined a pattern in a module using a yml file, and I noticed that the theme hook had a path starting with a leading slash.
E.g. `/modules/custom/my_module/templates/patterns/my_pattern/pattern-my-pattern.html.twig`.
The problem seems to be the str_replace() in `PatternBase` and `LibraryPattern`, which

[2021-05-18 21:56] donquixote commented on #328
It seems that in many cases the path with the leading slash is overridden with the correct path, e.g. if the pattern is provided by a theme. This might be the reason why this was undetected so far.

[2021-05-18 21:56] donquixote commented on #328
I would add tests, but we first need to fix existing tests..

[2021-05-21 15:25] vever001 commented on #328
It seems there was already a PR that attemps to fix it https://github.com/nuvoleweb/ui_patterns/pull/327
But that one is not OK IMO as `$this->root` is used in 2 places:
1. [LibraryPattern.php#L81](https://github.com/nuvoleweb/ui_patterns/blob/8.x-1.x/modules/ui_patterns_library/src/Plugin/UiPatterns/Pattern/LibraryPattern.php#L81)
2. [PatternBase.php#L82](https://github.com/nuvoleweb/ui_patterns/

[2021-05-21 15:32] donquixote commented on #328
Yes we can do that.
My PR was the most lazy solution possible :)

[2021-05-21 15:41] donquixote commented on #328
Good catch! I did not find this one before.
Perhaps we should start from #327, also to give credit to @mistermoper.

[2021-05-21 16:36] omarlopesino commented on #328
Hi.

I've updated the PR with the feedback from https://github.com/nuvoleweb/ui_patterns/issues/328#issuecomment-846032467:
- Added the slash to [PatternBase#82](https://github.com/nuvoleweb/ui_patterns/blob/8.x-1.x/src/Plugin/PatternBase.php#L82)
- Use DIRECTORY_SEPARATOR

Knowing that $this->root comes from the [app.root](https://www.drupal.org/node/2330441) service container parameter, it is re

[2021-05-27 08:30] steveoriol opened #330 "How to choose the variant when you use the twig "pattern" method"
How to choose the variant when you use the twig "pattern" method, I did not find in the documentation :
https://ui-patterns.readthedocs.io/en/8.x-1.x/content/developer-documentation.html#render-patterns-using-twig-functions
`{{ pattern('button', {title: 'Link title', url: 'http://example.com'}) }}`

Thank you very much for this great module! :-)